template(name='about')
  section#slide-1.homeSlide
    .bcg(data-center='background-position: 50% 0px;' data-top-bottom='background-position: 50% -100px;' data-anchor-target='#slide-1')
      .hsContainer
        .hsContent(data-center='opacity: 1' data-106-top='opacity: 0' data-anchor-target='#slide-1 h2')
          h2 Fade out elements before
            br
            | they leave viewport