.ab_background
	position absolute
	top nb_CalcHeight
	left 0px
	z-index -1
	background-image url("about/AbstractBikers.png")
	height 300px
	width 100%
	background-size cover
	background-position center

.ab_primary
	padd(50px, auto, auto, 50px)
