.ab_background
	position absolute
	top nb_CalcHeight
	left 0px
	z-index -1
	background-image url("about/AbstractBikers.png")
	height 300px
	width 100%
	background-size cover
	background-position center

.ab_primary
	padd(75px, auto, auto, 75px)
	text-align center

.ab_secondary
	padd(25px, auto, auto, 25px)
	background-color lighten(#BDC3C7, 50%)

.static-card
	text-align center
	background-color white
	height 280px
	padd(10px, 15px, 15px, 10px)
	marg(0, 5px, 5px, 0px)
	& i
		// Add a circle background to icon
		width 75px
		height 75px
		line-height 75px
		vertical-align middle
		border-radius 50%
		background-color red