.jumbotron
  background #000 url("img/header-bg-filtered%20backup%20images/header-bg-filtered%400.5x.png") center center
  background-size cover
  overflow hidden
  height 450px
  h1
  	color $navbar-default-bg

// Extend row
.bg-light-gray
  background-color $gray-lighter
.bg-darker-gray
  background-color $gray-dark