.nav-spacing
.container.admin-page
	.row
		h1 Welcome Back Superb Manager!
		p #{infoTxt}
		br
	//- //- .row
	//- //- 	.col-md-4.col-xs-3
	//- //- 		//- p <div class="col-md-4">.col-md-4</div>
	//- //- 		+pie_big_circle_Demo
	//- //- 	.col-md-4.col-xs-3
	//- //- 		//- p <div class="col-md-4">.col-md-4</div>
	//- //- 		+pieDemo
	//- //- 	.col-md-4.col-xs-3
	//- //- 		//- p <div class="col-md-4">.col-md-4</div>
	//- //- 		+pieDemoUsers
	//- //- .row
	//- //- 	.col-md-12.col-xs-3
	//- //- 		+columnDemo
	.row
		+ManageBikes
	.row
		+ManageMechanicNotes
	.row
		+ManageUsers