.nav-spacing
.container.admin-page
	.row
		h1 Welcome Back Superb Manager!
		p #{infoTxt}
		br
		if isInRole 'admin,root'
			.row
				+ManageBikes
			.row
				+ManageMechanicNotes
			.row
				+ManageUsers
		else
			.row
				h1 The table is not available to you because you are not logged in as an admin user.

