.nav-spacing
.container.admin-page
	.row
		if isInRole 'Admin,Root'
			h1 Welcome Back Superb Manager!
		else
			h1 Access denied.
		p #{infoTxt}
		br
	if isInRole 'Admin,Root'
		.row
			+ManageBikes
		.row
			+ManageMechanicNotes
		.row
			+ManageUsers
