body
	overflow-y scroll
	overflow-x visible

.container.toggled
	width 700px

#menu-toggle
	position fixed
	top 10px
	left 260px
	&.toggled
		left 10px

tr.selected
	background-color gray !important
	color white !important