@import "lib/custom.bootstrap.import.styl"

// Put your Stylus code here!

// enable cross-browser mixins such as linear-gradient and border-radius
// From Stylus Meteor package
// @import 'nib'

// Custom Files
@import 'custom/aaa_general.import.styl'
// @import 'custom/agency.import.styl'
// @import 'custom/pricing.import.styl'
.navSpacing { padding-top: 100px }
.AdminNavSpacing { padding-top: 50px }

.rowS
	make-row()
  make-sm-column(3)

header
	.rowS
		padding-top 11px
		make-sm-column(3)

header
  make-row()

header
	.brand
		make-sm-column(3)
