template(name='_header')
  nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse.navbar-shrink.shrunk(role='navigation')
    +navigation_bar

template(name='navigation_bar')
  //- .navbar.navbar-default.navbar-static-top
  //-   .container
  //-     .navbar-header
  //-       button.navbar-toggle(data-toggle='collapse' data-target='#navbar-collapse' type='button')
  //-         span.icon-bar
  //-         span.icon-bar
  //-         span.icon-bar
  //-       a.navbar-brand(href='') Bootstrap TLDR
  //-     #navbar-collapse.collapse.navbar-collapse
  //-       ul.nav.navbar-nav
  //-         li
  //-           a(href='#css') CSS
  //-         li
  //-           a(href='#components') Components
  //-         li
  //-           a(href='#javascript') Javascript
  //-         li.dropdown
  //-           a.dropdown-toggle(data-toggle='dropdown' href='#')
  //-             | Old
  //-             b.caret
  //-           ul.dropdown-menu
  //-             li
  //-               a(href='http://anvoz.github.io/bootstrap-tldr/old/v3.1.1/') Bootstrap v3.1.1
  //-             li
  //-               a(href='http://anvoz.github.io/bootstrap-tldr/old/v3.2.0/') Bootstrap v3.2.0
  //-
  .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#main-nav')
          span.sr-only Toggle navigation
          span.icon-bar
          //- span.icon-bar
          span.icon-bar
        a.navbar-brand(href="{{pathFor 'about'}}") Red Bars
      #main-nav.collapse.navbar-collapse
        if currentUser
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#' data-toggle='dropdown')
                i.fa.fa-user
                  |  {{ currentUser.profile.name }}
                i.fa.fa-caret-down
              ul.dropdown-menu(role='menu')
                li(class="{{ isActiveRoute regex='student' }}")
                  a(href="{{ pathFor 'student' }}")
                    i.fa.fa-user
                      |  student
                li
                  a(href="{{ pathFor 'signOut' }}")
                    i.fa.fa-lock
                      |  Sign Out
        else
          ul.nav.navbar-nav.navbar-right.login-buttons
            a.btn.btn-default.navbar-btn(href="{{ pathFor 'atSignIn' }}") Sign in
            a.btn.btn-primary.navbar-btn(href="{{ pathFor 'atSignUp' }}") Register
        //- Add space before nav item
        ul.nav.navbar-nav.navbar-right
          li(class="{{ isActiveRoute regex='about' }}")
            a(href="{{ pathFor 'about' }}")
              i.fa.fa-home
                |  About
          li(class="{{ isActiveRoute regex='map' }}")
            a(href="{{ pathFor 'map' }}")
              i.fa.fa-map-marker
                |  Map
          li.dropdown
            a.dropdown-toggle(href='#' data-toggle='dropdown')
              //- i.fa.fa-ellipsis-h
              i.fa.fa-lock
                |  TBD
              i.fa.fa-caret-down
            ul.dropdown-menu(role='menu')
              li(class="{{ isActiveRoute regex='dashboard' }}")
                a(href="{{ pathFor 'dashboard' }}")
                  i.fa.fa-gear
                    |  Dashboard
              li(class="{{ isActiveRoute regex='progress' }}")
                a(href="{{ pathFor 'progress' }}")
                  i.fa.fa-home
                    |  Progress
              li(class="{{ isActiveRoute regex='chartsAdmin' }}")
                a(href="{{ pathFor 'chartsAdmin' }}")
                  i.fa.fa-gear
                    |  chartsAdmin
              li(class="{{ isActiveRoute regex='users' }}")
                a(href="{{ pathFor 'users' }}")
                  i.fa.fa-users
                    |  Users
              li(class="{{ isActiveRoute regex='admin2layoutAllData' }}")
                a(href="{{ pathFor 'admin2layoutAllData' }}")
                  i.fa.fa-table
                    |  Admin 2
              li(class="{{ isActiveRoute regex='admin3layoutAllData' }}")
                a(href="{{ pathFor 'admin3layoutAllData' }}")
                  i.fa.fa-table
                    |  Admin 3
              li(class="{{ isActiveRoute regex='RFIDlayout' }}")
                a(href="{{ pathFor 'RFIDlayout' }}")
                  i.fa.fa-table
                    |  RFIDlayout
              li(class="{{ isActiveRoute regex='mechanicView' }}")
                a(href="{{ pathFor 'mechanicView' }}")
                  i.fa.fa-table
                    |  mechanicView
              li(class="{{ isActiveRoute regex='mechmap' }}")
                a(href="{{ pathFor 'mechmap' }}")
                  i.fa.fa-table
                    |  mechmap
              li(class="{{ isActiveRoute regex='timeseries' }}")
                a(href="{{ pathFor 'timeseries' }}")
                  i.fa.fa-table
                    |  timeseries