template(name='about')
  h1 Welcome to the bike share of the future
  p Ever needed to get across campus? Or want a more convenient way to get around?
  p Team BIKES makes borrowing a bike easier than every before
  h1 Find
  p Find the nearest bike by using our web app. Once near, our bikes are easily distinguishable with their birght colors and unique lock.
  h1 Unlock
  p Swipe your membership card and the bike will automatically unlock starting your journey.
  h1 Ride and Return
  p Go to your next class, lunch with friends, or all the way into DC. When you're finished, just lock your bike to a bike rack on campus.
  .template-about
    .page-header
      h1 Welcome to the Team Bikes Bikeshare About page
    //- +admin1layout
    h3 Incredible Speed When You Need It
    p Pick up and drop off a bike anywhere there is a bike rack. Get to class as quickly as possible to sleep in those valuable 15 minutes.
    h3 Or as Slow as You Want
    p Explore DC atop one of our bikes for a night time ride through the monuments.
    h3 A Deal Built for College Students
    p For a fraction of the cost of owning and maintaining your own bike, pay for only the time you need a bike. With a small annual subscription, you get started with a Team BIKES RFID swipe, then use it whenever and wherever you want with our flexible pricing scale.
    h3 Personalized Metrics
    p Track your fitness, mileage and use in a sleek fast web app.
    h3 Choose the plan that fits your needs
    p sport, quick, needy