template(name='about')
  .template-about
    .page-header
      h1 Welcome to the Team Bikes Bikeshare About page
    //- +admin1layout
    h3 Incredible Speed When You Need It
    p Pick up and drop off a bike anywhere there is a bike rack. Get to class as quickly as possible to sleep in those valuable 15 minutes.
    h3 Or as Slow as You Want
    p Explore DC atop one of our bikes for a night time ride through the monuments.
    h3 Incredible Value
    p For a fraction of the cost of owning and maintaining your own bike, pay for only the time you need a bike. With a small annual subscription, you get started with a Team BIKES RFID swipe, then use it whenever and wherever you want with our flexible pricing scale.
    h3 Smarter System
    p With a full functioning web app, access and track your rides with fitness statistics and speed.
    h3 Choose the plan that fits your needs
    p sport, quick, needy
  //- +testTable