template(name="contact")
  .row
    .col-md-12
      h1.text-center Report any problems below:
  .row
    .col-md-4
      +profPics
    .col-md-8
      h1 A text form will go here
      button(style='padding: 30px;') Send Feedback

template(name="profPics")
  h1 &nbsp;
  h1.text-center
    button.fa.fa-camera

  if photo
    .image
      img(src='{{photo}}')
//- else...?
//- img(src="profile/Prof_Pic_Placeholder.png")