// source: https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d#.731cv2odc or alternate: https://github.com/mrmlnc/material-shadows
.card {
  transition: all 250ms;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-5px);
}

// my variations:
.static-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

// Written after Macaw Export
.fa {
  background-color: rgb(1, 81, 150);
  color: white !important;
  text-align: center !important;
}