//- template(name='mechanicView')
//-   .mechanic-info
//-     .info
//-       h1 Hello Mechanic
//-       p you have a ton of broken bikes. Get to it
//-       a(href="{{pathFor route='mechmap'}}")
//-         button See broken bike locations here
//-       h4 &nbsp;
//-     +pics
//-   +bikesList