// Mixins
// --------------------------------------------------
vendors ?= official

percentage($n)
  if $n == 0
    0
  else
    unit($n * 100, "%")

// Utilities

@import "mixins/hide-text.import.styl"
@import "mixins/opacity.import.styl"
@import "mixins/image.import.styl"
@import "mixins/labels.import.styl"
@import "mixins/reset-filter.import.styl"
@import "mixins/resize.import.styl"
@import "mixins/responsive-visibility.import.styl"
@import "mixins/size.import.styl"
@import "mixins/tab-focus.import.styl"
@import "mixins/text-emphasis.import.styl"
@import "mixins/text-overflow.import.styl"
@import "mixins/vendor-prefixes.import.styl"

// Components
@import "mixins/alerts.import.styl"
@import "mixins/buttons.import.styl"
@import "mixins/panels.import.styl"
@import "mixins/pagination.import.styl"
@import "mixins/list-group.import.styl"
@import "mixins/nav-divider.import.styl"
@import "mixins/forms.import.styl"
@import "mixins/progress-bar.import.styl"
@import "mixins/table-row.import.styl"

// Skins
@import "mixins/background-variant.import.styl"
@import "mixins/border-radius.import.styl"
@import "mixins/gradients.import.styl"

// Layout
@import "mixins/clearfix.import.styl"
@import "mixins/center-block.import.styl"
@import "mixins/nav-vertical-align.import.styl"
@import "mixins/grid-framework.import.styl"
@import "mixins/grid.import.styl"
