/*html {
  height: 100%;
}*/

.webixZone {
  margin: 0;
  padding: 0;
  min-height: 50em;
  display: flex;
  flex-direction: column;
}

#webix-playground {
  flex-grow: 1;  /* fill the remaining space in the parent element*/
}

footer {
  background: lightyellow;
}