template(name='webix')
  header
    h1 Welcome to Meteor + 
      a(href='http://webix.com/') Webix
      | !
  section
    p You can mix regular HTML markup and Meteor/Spacebars templates with Webix UI components by declaring an HTML element for Webix to use as a container.
  section#webix-playground
  footer
    span
      a(href='https://github.com/dandv/meteor-webix') Source on GitHub
      | . PS: open the console
    span(style='float: right') Webix is © XB Software Ltd
