//- Create mobile nav style menu
nav.mobile
	a(href="{{ pathFor 'about' }}" class="{{ isActiveRoute regex='about' }}")
		.fa.fa-home.fa-2x
	a(href="{{ pathFor 'faq' }}" class="{{ isActiveRoute regex='faq' }}")
		.fa.fa-question.fa-2x
	a(href="{{ pathFor 'map' }}" class="{{ isActiveRoute regex='map' }}")
		//- .fa.fa-map-o.fa-2x
		//- .fa.fa-map-pin.fa-2x
		//- .fa.fa-map-signs.fa-2x
		.fa.fa-bicycle.fa-2x
	a(href="{{ pathFor 'profile' }}" class="{{ isActiveRoute regex='profile' }}")
		.fa.fa-user.fa-2x(class='{{RFIDeh}}')
