nav.midnight-header
	a(href="{{ pathFor 'about' }}").nav-brand REDBAR
	.nav-elements
		ul.unstyled
			li
				a(href="{{ pathFor 'about' }}" class="{{ isActiveRoute regex='about' }}") about
			li
				a(href="{{ pathFor 'faq' }}" class="{{ isActiveRoute regex='faq' }}") faq
			li
				a(href="{{ pathFor 'map' }}" class="{{ isActiveRoute regex='map' }}") map
			if currentUser
				li
					a(href="{{ pathFor 'profile' }}" class="{{ isActiveRoute regex='profile' }}") profile
					.badge-notify.fa.fa-bell(class='{{RFIDeh}}')
			if isInRole 'Admin,Root,Employee'
				li
					a(href="{{ pathFor 'Dashboard' }}" class="{{ isActiveRoute regex='\/dash\/*' }}") Dashboard
				li
					a(href="{{ pathFor 'root' }}" class="{{ isActiveRoute regex='root' }}") root
			if currentUser
				li
					//- a(href='/sign-out')
					button.cta-start#log-out-btn Sign Out
			else
				li
					a(href='/sign-in')
						button.cta-start Sign In
