template(name='onePageScroll')
  h1 &nbsp;
  h1
    | Enable the one page scroll package for functionality
  .main
    section
      h1 &nbsp;
      h1 test
    section
      h1 &nbsp;
      h1 test2
    section
      h1 &nbsp;
      h1 test3