template(name='WebixHome')
  ul.menu
    li
      a(href='/datatable') Grid with 2-way data binding
    li
      a(href='/template') Webix UI with SpaceBars template inside
    li
      a(href='/fullscreen') Fullscreen UI
    li
      a(href='/dataloading') Custom Data Loading
