template(name='MechMap')
	//- Where the map will be generated based on the template helper in map.coffee
	.mapContainer
		#MechMap.full-screen-map
	//- #map.full-screen-map
	.footer#reserve
		.container
			h5.col-md-3 #{selectedBike}