template(name='progress')
  //- +testTable
  h1 Things to do/implement and stuff
  p
    a(href='https://atmospherejs.com/doctorpangloss/filter-collections') new package
  p
    a(href='https://github.com/krishamoud/filter-collections-example') Example
  h1 Awesome packages to add
  p
    a(href='https://github.com/matteodem/meteor-easy-search') Elastic meteor-easy-search
  p
    a(href='https://github.com/percolatestudio/meteor-momentum') Reactive animation
  p
    a(href='https://github.com/aldeed/meteor-tabular') Meteor Tabular - Sortable datatables...tried but had sub-Bootstrap pakage that conflicted
  p
    a(href='https://almsaeedstudio.com/') Good looking admin panel - not a meteor package, but equally exciting
  p
    a(href='https://github.com/dburles/load-more-list') Load more list option for meteor
  h1 Scrolling control like lock8 demo
  p
    a(href='https://www.bram.us/2014/01/01/skrollr-css-animations-linked-to-scroll-position/') Article and demo
  p
    a(href='https://ihatetomatoes.net/apple-mac-pro-page-deconstructed/') The inspiration!
  h1 Other
  p
    a(href='https://github.com/dburles/meteor-collection-helpers') Not sure what this does...?
  p
    a(href='https://github.com/mattsince87/v-r') Var Example page
  p
    a(href='http://codepen.io/search/?depth=everything&limit=all&order=popularity&page=4&q=bootstrap&show_forks=false') Bootstrap options
  p
    a(href='http://codepen.io/mattsince87/') Var creator