//- +sAlert
+navTop
+navMobile

//- main(class="{{ isActiveRoute regex='about' }}")
	.nav-top-spacing(data-midnight="none")

main
	.container
		+momentum(plugin='flow-router')
			+Template.dynamic template=Body
//- or..
main.main-content
	+momentum(plugin='flow-router')
		+Template.dynamic template=Full
