//- +sAlert
+momentum(plugin='flow-router')
	+navTop

main(class="{{ isActiveRoute regex='about' }}")
	.nav-top-spacing(data-midnight="none")
	.container
		+momentum(plugin='flow-router')
			+Template.dynamic template=Body
//- or..
main.main-content
	+momentum(plugin='flow-router')
		+Template.dynamic template=Full

+momentum(plugin='flow-router')
	+navMobile
