+sAlert
+momentum(plugin='flow-router')
	+NavMacaw

main.cd-main-content.macaw-nav-spacing(class="{{ isActiveRoute regex='about' }}")
	.container
		+momentum(plugin='flow-router')
			+Template.dynamic template=Body
main.cd-main-content
	+momentum(plugin='flow-router')
		+Template.dynamic template=Full

.cd-panel.from-right
	header.cd-panel-header
		+Template.dynamic template=Slide_In_Panel_Title
		a.cd-panel-close(href='#0') Close

	.cd-panel-container
		.cd-panel-content
			+Template.dynamic template=Slide_In_Panel_Content