//- Create mobile nav style menu
nav.mobile
	a(href="{{ pathFor 'about' }}" class="{{ isActiveRoute regex='about' }}")
		i.fa.fa-home.fa-2x
	a(href="{{ pathFor 'faq' }}" class="{{ isActiveRoute regex='faq' }}")
		i.fa.fa-question.fa-2x
	a(href="{{ pathFor 'map' }}" class="{{ isActiveRoute regex='map' }}")
		i.fa.fa-map.fa-2x
	a(href="{{ pathFor 'profile' }}" class="{{ isActiveRoute regex='profile' }}")
		i.fa.fa-user.fa-2x(class='{{RFIDeh}}')
