nav.midnight-header
	a(href="{{ pathFor 'about' }}").nav-brand REDBAR
	.nav-elements
		ul.unstyled
			li
				a(href="{{ pathFor 'about' }}" class="{{ isActiveRoute regex='about' }}") about
			li
				a(href="{{ pathFor 'faq' }}" class="{{ isActiveRoute regex='faq' }}") faq
			li
				a(href="{{ pathFor 'map' }}" class="{{ isActiveRoute regex='map' }}") map
			li
				button.cta-start Get Started
