nav.midnight-header
	a(href="{{ pathFor 'About' }}").nav-brand REDBAR
	.nav-elements
		ul.unstyled
			li: a(href="{{ pathFor 'About' }}" class="{{ isActiveRoute regex='About' }}") About
			li: a(href="{{ pathFor 'FAQ' }}" class="{{ isActiveRoute regex='FAQ' }}") FAQ
			li: a(href="{{ pathFor 'Map' }}" class="{{ isActiveRoute regex='Map' }}") Map
			li: button.cta-start Get Started
