nav.midnight-header
	a(href="{{ pathFor 'about' }}").nav-brand REDBAR
	.nav-elements
		ul.unstyled
			li
				a(href="{{ pathFor 'about' }}" class="{{ isActiveRoute regex='about' }}") about
			li
				a(href="{{ pathFor 'faq' }}" class="{{ isActiveRoute regex='faq' }}") faq
			li
				a(href="{{ pathFor 'map' }}" class="{{ isActiveRoute regex='map' }}") map
			li
				a(href="{{ pathFor 'AdminCompilation' }}" class="{{ isActiveRoute regex='AdminCompilation' }}") AdminCompilation
			if currentUser
				li
					button.cta-start#log-out-btn Sign Out
			else
				li
					a(href='/sign-in')
						button.cta-start Sign In

//- //- FIXME DELETE
//- .ab-quote
//- 	.container
//- 		.row
//- 			+atNavButton
//- //- AccountsTemplates.logout()
