template(name='ManageBike_Title')
	h1.cd Track Bike History

template(name='ManageBike')
	//- Where the map will be generated based on the template helper in map.coffee
	.row
		#ManageBikeMap.float-map
	.row
		p Darker icons are the most recent known coordinates. Click on one to see more information here

		table.table.table-hover.table-condensed
			//- Labels Row
			thead
				tr
					th Name
					th createdAt
					th Email Address
					th Roles
			//- Actual Bike Data
			tbody
				tr
					td profile.name
					td formatDate createdAt "shortest"
					td emails.[0].address
					td roles
					//- NOTE: Need the double {{ }}
					//- otherwise the [0] and formatDate won't work

	//- +quickForm collection="DailyBikeData" doc=SelectedRow id="updateDailyBikeDataForm" type="update"
	//- +autoForm collection="DailyBikeData" doc=SelectedRow id="updateDailyBikeDataForm" type="update"
	//-   fieldset
	//-     legend Update Selected Bike History
	//-     +afQuickField name='Bike'
	//-     +afQuickField name='Positions'
	//-   button.btn.btn-primary(type='submit') Update