body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.newuser-focusedexplanation p {
  margin-bottom: 1em;
}

.apart {
  position: relative;
  float: left;
  clear: both;
  z-index: 32;
  width: 52.609375%;
  height: 460px;
  margin-left: 23.58073%;
}

.container {
  float: left;
  clear: both;
}

.container .container {
  width: 99.959742351%;
  height: 233px;
  margin-left: -0.00252%;
}

.container .text {
  float: left;
  width: 61.0305958132%;
  margin-left: 19.6704%;
  font-size: 1.563em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.contentheader {
  float: left;
  font-size: 1.563em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
}

.element {
  float: left;
  background-color: rgb(222, 222, 222);
}

.hero {
  float: left;
  text-align: center;
  color: rgb(255, 251, 251);
}

.hero-content {
  position: relative;
  float: left;
  z-index: 71;
  width: 100%;
  height: 185px;
  margin-top: -705px;
}

.hero-image {
  position: relative;
  float: left;
  clear: both;
  z-index: 67;
  width: 100%;
  height: 600px;
  margin-top: -913px;
  background: url('../images/header-bg-filtered.png') rgb(222, 222, 222);
  background-size: cover;
  background-position: left top;
}

.how {
  position: relative;
  float: left;
  z-index: 50;
  width: 66.3658854166%;
  height: 486px;
  margin: 67px 0 0 16.83073%;
}

.how .contentheader {
  width: 58.9946675031%;
  margin-left: 20.45165%;
  color: rgb(0, 0, 0);
}

.how .element {
  position: relative;
  clear: both;
  width: 48.6825595984%;
  height: 119px;
}

.how .image,
.what .image {
  position: relative;
}

.how .text {
  position: relative;
  float: left;
  width: 48.6825595984%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.linktofaq {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 52.8216145833%;
  height: 237px;
  margin: 750px 0 0 23.66667%;
}

.linktofaq .contentheader {
  width: 99.9088130914%;
  margin-left: 0.02219%;
  color: rgb(0, 0, 0);
}

.linktofaq .element {
  position: relative;
  clear: both;
  z-index: 2;
  width: 99.9778194006%;
  height: 174px;
  margin-top: 29px;
}

.linktofaq .text {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 57.758280757%;
  margin: -98px 0 0 21.13294%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  width: 100%;
  height: 65px;
  background-color: rgb(7, 7, 7);
}

.nav-content {
  position: fixed;
  top: 19px;
  left: 10%;
  z-index: 66;
  width: 78.9661458333%;
  height: 30px;
}

.nav-content .text {
  position: absolute;
  top: 0;
  font-size: 1.375em;
  line-height: 1.38;
  color: rgb(183, 63, 64);
}

.newuser-focusedexplanation {
  position: relative;
  float: left;
  clear: both;
  z-index: 9;
  width: 59.6158854166%;
  height: 253px;
  margin: 44px 0 0 22%;
}

.newuser-focusedexplanation .text {
  float: left;
  width: 48.9328736033%;
  min-height: 246px;
  margin: 7px 0 0 3.90958%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.pricing {
  position: relative;
  float: left;
  clear: both;
  z-index: 12;
  width: 52.8177083333%;
  margin: 82px 0 0 23.59896%;
}

.pricing .contentheader {
  width: 99.9383872239%;
  margin-left: 0.02712%;
  color: rgb(0, 0, 0);
}

.pricing .image {
  clear: both;
  width: 99%;
  margin: 8px 0 0 0.48565%;
}

.quote {
  position: relative;
  float: left;
  background-color: rgb(178, 58, 58);
}

.quote .text {
  float: left;
  width: 66.3346354166%;
  margin: 49px 0 0 16.83073%;
  font-style: italic;
  font-size: 1.875em;
  line-height: 1.2;
  text-align: center;
  color: rgb(255, 251, 251);
}

.reserve {
  position: relative;
  float: left;
  clear: both;
  z-index: 19;
  width: 52.8007812499%;
  height: 205px;
  margin: 75px 0 0 23.58073%;
}

.reserve .contentheader {
  position: relative;
  clear: both;
  z-index: 14;
  width: 99.9383872239%;
  margin: -240px 0 0 -0.12577%;
  color: rgb(252, 252, 252);
}

.reserve .quote {
  z-index: 13;
  width: 189.3911370866%;
  height: 275px;
  margin: -35px 0 0 -44.82257%;
}

.reserve .text {
  position: relative;
  float: left;
  width: 74.162066246%;
  min-height: 37px;
  margin-left: 12.74198%;
  line-height: 1.38;
}

.text {
  font-weight: 400;
}

.what {
  position: relative;
  float: left;
  z-index: 59;
  width: 83.2330729166%;
  height: 833px;
  margin-top: 80px;
}

.what .contentheader {
  width: 47.0658158158%;
  margin: 619px 0 0 36.53615%;
  color: rgb(0, 0, 0);
}

.what .text {
  float: left;
  clear: both;
  width: 79.6796796796%;
  margin: 17px 0 0 20.21651%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  float: left;
  font-weight: 400;
  text-align: center;
}

._textarea {
  display: block;
  position: relative;
  float: left;
  z-index: 17;
  width: 74.1313407807%;
  height: 37px;
  margin: -128px 0 0 12.77404%;
  padding: 5px;
  border: 1px solid rgb(119, 119, 119);
  background-color: rgb(242, 242, 242);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  resize: none;
}

.hero-content ._button {
  clear: both;
  width: 38.6627604166%;
  height: 74px;
  margin: 18px 0 0 30.72917%;
  border-radius: 42px;
  background-color: rgba(194, 56, 56, 0.87);
  font-size: 1.25em;
  line-height: 1.1;
  color: rgb(248, 247, 247);
}

.reserve ._button {
  position: relative;
  z-index: 18;
  width: 12.7760252365%;
  height: 37px;
  margin: -128px 0 0 74.12641%;
  padding: 5px;
  border: 1px solid rgb(119, 119, 119);
  background-color: rgb(242, 242, 242);
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.container-1 {
  position: relative;
  z-index: 25;
  width: 98.2199367088%;
  height: 267px;
  margin-top: -293px;
}

.element-1 {
  z-index: 36;
  margin-top: 22px;
}

.element-2 {
  z-index: 43;
  margin: 38px 0 0 -0.0490500001%;
}

.element-3 {
  z-index: 45;
  margin: 35px 0 0 -0.0490500001%;
}

.element-4 {
  width: 31.5402409217%;
  height: 253px;
}

.element-5 {
  width: 12.8491620111%;
  height: 246px;
  margin: 7px 0 0 2.67555%;
}

.hero-1 {
  width: 99.98046875%;
  margin-left: -0.00521%;
  font-size: 2.813em;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-2 {
  clear: both;
  width: 72.4361979166%;
  margin: 17px 0 0 16.79688%;
  font-size: 1.25em;
  line-height: 1.1;
}

.image-1 {
  clear: both;
  z-index: 57;
  width: 82px;
  margin: 25px 0 0 36.52363%;
}

.image-10 {
  z-index: 40;
  width: 101px;
  margin: -109px 0 0 31.6153%;
}

.image-11 {
  clear: both;
  z-index: 49;
  width: 138px;
  margin: -101px 0 0 4.87944%;
}

.image-12 {
  z-index: 46;
  width: 145px;
  margin: -101px 0 0 28.25247%;
}

.image-13 {
  clear: both;
  z-index: 48;
  width: 145px;
  margin: -104px 0 0 4.87944%;
}

.image-14 {
  z-index: 47;
  width: 138px;
  margin: -104px 0 0 27.0949%;
}

.image-15 {
  width: 23.1977446637%;
  margin-top: 40px;
}

.image-16 {
  width: 37.5352396294%;
  margin-left: 8.81567%;
}

.image-17 {
  width: 19.1703584373%;
  margin: 59px 0 0 11.26097%;
}

.image-2 {
  clear: both;
  z-index: 54;
  width: 102px;
  margin: -90px 0 0 42.77021%;
}

.image-3 {
  clear: both;
  z-index: 58;
  width: 62px;
  margin: -84px 0 0 52.8636%;
}

.image-4 {
  z-index: 55;
  width: 80px;
  margin: -94px 0 0 61.03281%;
}

.image-5 {
  z-index: 53;
  width: 102px;
  margin: -102px 0 0 67.28095%;
}

.image-6 {
  z-index: 56;
  width: 72px;
  margin: -84px 0 0 77.37278%;
}

.image-7 {
  clear: both;
  z-index: 38;
  width: 101px;
  margin: -110px 0 0 2.25235%;
}

.image-8 {
  z-index: 39;
  width: 101px;
  margin: -110px 0 0 16.93186%;
}

.image-9 {
  z-index: 41;
  width: 20px;
  margin: -62px 0 0 23.07481%;
}

.quote-1 {
  clear: both;
  z-index: 34;
  width: 100%;
  height: 205px;
  margin-top: 50px;
}

.text-1 {
  left: 94.682885021%;
  z-index: 65;
}

.text-11 {
  position: relative;
  float: left;
  z-index: 26;
  width: 22.6166930379%;
  margin: 249px 0 0 -0.00248%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-13 {
  position: relative;
  float: left;
  z-index: 27;
  width: 22.6166930379%;
  margin: -44px 0 0 38.56054%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-14 {
  position: relative;
  float: left;
  z-index: 28;
  width: 22.6166930379%;
  margin: -44px 0 0 77.26463%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-15 {
  position: relative;
  float: left;
  clear: both;
  z-index: 29;
  width: 22.6166930379%;
  margin: 13px 0 0 -0.00248%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-16 {
  position: relative;
  float: left;
  z-index: 30;
  width: 22.6166930379%;
  margin: 13px 0 0 15.95882%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-17 {
  position: relative;
  float: left;
  z-index: 31;
  width: 22.6166930379%;
  margin: 13px 0 0 16.07762%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-18 {
  z-index: 15;
  margin-top: -180px;
  font-size: 1em;
  color: rgb(252, 252, 252);
}

.text-19 {
  z-index: 16;
  margin-top: -74px;
  font-size: 0.75em;
  color: rgb(174, 174, 174);
}

.text-2 {
  left: 86.075949367%;
  z-index: 64;
}

.text-22 {
  float: left;
  margin: 35px 0 0 23.66667%;
  font-size: 3.75em;
  line-height: 1.38;
  color: rgb(249, 244, 244);
}

.text-3 {
  left: 77.4673655063%;
  z-index: 63;
}

.text-4 {
  left: 68.8604298523%;
  z-index: 62;
}

.text-5 {
  left: 0;
  z-index: 61;
}

.text-7 {
  z-index: 37;
  margin: -92px 0 0 51.18994%;
}

.text-8 {
  z-index: 42;
  margin: -92px 0 0 51.18798%;
}

.text-9 {
  z-index: 44;
  margin: -81px 0 0 51.18798%;
}

._container-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 100%;
  height: 251px;
  margin-top: 33px;
  background-color: rgb(7, 7, 7);
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}