template(name='MacawLayout')
	+sAlert
	+momentum(plugin='flow-router')
		+NavMacaw
	//- +contentWrapper
	main.cd-main-content.macaw-nav-spacing(class="{{ isActiveRoute regex='about' }}")
		.container
			+momentum(plugin='flow-router')
				+Template.dynamic template=body
	main.cd-main-content
		+momentum(plugin='flow-router')
			+Template.dynamic template=full

	.cd-panel.from-right
		header.cd-panel-header
			+Template.dynamic template=Slide_In_Panel_Title
			a.cd-panel-close(href='#0') Close

		.cd-panel-container
			.cd-panel-content
				+Template.dynamic template=Slide_In_Panel_Content