template(name="NavSide")
  +NavTop
  .container#NavSide-Container
    #wrapper
      //- #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(href='/')
              | Team BIKES
          li(class="{{ isActiveRoute regex='ManageBikes' }}")
            a(href="{{ pathFor 'ManageBikes' }}")
              i.fa.fa-car
                |  ManageBikes
          li(class="{{ isActiveRoute regex='ManageMechanicNotes' }}")
            a(href="{{ pathFor 'ManageMechanicNotes' }}")
              i.fa.fa-paperclip
                |  ManageMechanicNotes
          li(class="{{ isActiveRoute regex='ManageUsers' }}")
            a(href="{{ pathFor 'ManageUsers' }}")
              i.fa.fa-group
                |  ManageUsers
      +momentum(plugin='flow-router')
        //- +contentWrapper
        +Template.dynamic template=body