template(name='NavTop')
	nav
		a(href="{{ pathFor 'About' }}").nb-brand REDBAR
		.nav-elements(align="right")
			ul.unstyled
				li
					a(href="{{ pathFor 'About' }}" class="{{ isActiveRoute regex='About' }}") About
				li
					a(href="{{ pathFor 'Map' }}" class="{{ isActiveRoute regex='Map' }}") Map
				li
					button.nb-start Get Started