template(name='UniversalLayout_Left')
	+sAlert
	+momentum(plugin='flow-router')
		+NavTop
	//- +contentWrapper
	main.cd-main-content.navSpacing
		.container
			+momentum(plugin='flow-router')
				+Template.dynamic template=body

	.cd-panel.from-left
		header.cd-panel-header
			+Template.dynamic template=Slide_In_Panel_Title_Left
			a.cd-panel-close(href='#0') Close

		.cd-panel-container
			.cd-panel-content
				+Template.dynamic template=Slide_In_Panel_Content_Left