template(name='RFIDlayout')
  .template-home
    .page-header
      h1 RFID
  table.table.table-hover.table-condensed
    thead
      //- Labels Row
      tr
        th RFIDCode
        th time
    tbody
      each RFIDlayout
        tr
          td #{RFIDCode}
          td {{formatDate time "short"}}