template(name='map')
	//- Where the map will be generated based on the template helper in map.coffee
	.mapContainer
		#BikeMap.full-screen-map
	//- #map.full-screen-map
	.footer#reserve
		.container
			.col-md-3
				button
					i.fa.fa-arrow-left
			h5.col-md-3 #{selectedBike}
			.col-md-3
				button#ReserveBtn Reserve
			.col-md-3
				button
					i.fa.fa-arrow-right