// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Fixed cover photo
.ab-background
	position absolute
	top 0
	z-index -1
#the-hero-img
	+above( $desktop )
		height 650px
	+above( $monitor )
		height 800px
	+below( $desktop )
		height 550px
	overflow hidden
	width 100%
	& .video-gif
		+above( $desktop )
			display none
		+below( $desktop )
			background-color red
			img-fill( 600px, 'about/228/228.mp4.gif', cover, center )
			// height 650px
			width 100%
	& video
		+below( $desktop )
			display none
		+above( $monitor )
			bottom 0
			left 0
			min-width 100%
		+above( $desktop )
			left 0
			min-width 100%
			top -50px
		+below( $desktop )
			bottom 0
			min-width 100%
			right -115%
		min-height 100%
		position absolute
		width auto

.ab-distinction.ab-expl-unlock
	& section.video video
		width 100%
		height auto


// Sources for video advice:
// http://stackoverflow.com/questions/10797632/simulate-background-sizecover-on-video-or-img
// http://jsfiddle.net/aloisdg/cYAx3/1/


// Actual image with lower resolution for mobile:
// 	+above( $desktop )
// 		img-fill( 650px, 'about/cover.jpg', cover, center )
// 	+below( $desktop )
// 		img-fill( 550px, 'about/cover.jpg', cover, center )
#the-team-img
	+above( $desktop )
		img-fill( 600px, 'Resources/OGImage.png', cover, center )
	+below( $desktop )
		img-fill( 500px, 'Resources/OGImage.png', cover, bottom )

// Welcome Text
.block-text
	+below( $desktop )
		width 100%
	width 50%

.ab-primary
	+below( $desktop )
		padd( 130px, auto, auto, 130px )
	+above( $monitor )
		padd( 250px, auto, auto, 250px )
	color white
	padd( 180px, auto, auto, 180px )
	text-align center
	z-index 2
.faq-primary
	+below( $desktop )
		padd( 130px, auto, auto, 130px )
	color white
	padd( 180px, auto, auto, 180px )
	text-align center
	z-index 2

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Quick Summary and Value Proposition
.ab-quote
	background-color $primary-bg-color
	padd( 120px, auto, auto, 120px )
	z-index 2

.cta-quote-container
	+above( $desktop )
		marg( 0, auto, auto, 0 )
		max-width 800px
	display block
	marg( 0, 50px, 50px, 0 )
	max-width 100%
	& p.cta-quote
		color $nav-bg-color
		font-size 22px
		text-align center
.bold
	font-weight bold

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Walk through
// Images and Description

// RFID
.unlock-img
	img-fill( $std-element-height, 'RFID.gif', cover, center )

// Guide
.tap-rfid
	img-fill( $std-element-height, 'about/Guide/4-locked.png', cover, center )
.riding-position
	img-fill( $std-element-height, 'about/Guide/2-ridingPosition.png', cover, center )
.open-lock
	img-fill( $std-element-height, 'about/Guide/3-open.png', cover, center )
.locked-lock
	img-fill( $std-element-height, 'about/Guide/1-tapRFID.png', cover, center )

// Locking
.return-img
	img-fill( $std-element-height, 'about/lock.jpg', cover, center )
// Web - Reservation
.ab-map-demo
	+above( $desktop )
		img-fill( $std-element-height*1.25, 'Reserve.gif', cover, top )
	+below( $desktop )
		img-fill( $std-element-height/2, 'Reserve-small.gif', contain, center )

.ab-map-static-demo
	img-fill( $std-element-height*0.9, 'about/ReservationMap.png', cover, bottom )

// FAQ
.inspiration-img
	img-fill( $std-element-height/2, 'about/TheInspiration.jpg', cover, center )
.lock-img
	img-fill( $std-element-height, 'about/TheLock.jpg', cover, center )

.intro-expl-invert
	background-color white
	margin 0
	padding 40px
	text-align center
	width 100%

.explanation-container
	background-color $secondary-bg-color
	display inline-flex
	flex-flow row wrap
	& .full-explanation
		align-items center
		display flex
		flex 1 0 100%
		position relative
	& .text-content
		align-items center
		color white
		display flex
		flex 1
		flex-flow column nowrap
		marg( 0, auto, auto, 0 )
		padd( 45px, 45px, 45px, 45px )
		position relative
		text-align center
		& h3
			bord( 0, 0, 0, 4px, solid, lighten($primary-bg-color, 45%) )
		& p
			max-width 800px
			& a
				color white

.ab-expl-unlock
	margin-top 40px
.ab-distinction
	marg( 0, 0, 0, 0 )
	padd( 0, 5%, 5%, 50px )
	width 100%

// // %%%%%%%%%%%%%%%%%%%%%%%%%%
// // Trio of Card elements
#ab-pricing
	align-items center
	background-color white
	display inline-flex
	flex-flow row wrap
	margin-bottom 80px
	justify-content space-around
	width 100%
	& .ab-static-card
		+above( $mobile )
			& .focal
				padding-bottom 40px
				padding-top 40px
		background-color white
		border 1px solid $secondary-bg-color
		border-radius 10%
		margin-bottom 20px
		&:hover
			border 2px solid $brand-highlight
	& .inner-card
		align-items center
		display flex
		flex-flow column
		margin 20px
	& .icon-bg
		background-color $brand-highlight
		border-radius 50%
		height 75px
		text-align center
		width 75px
		& span.fa
			color white
			margin-top 21.5px
			// margin-top ( 75px-32px )/ 2px
	& .text-content
		align-items center
		color white
		display flex
		flex 1
		flex-flow column wrap
		marg( 0, auto, auto, 0 )
		padd( 45px, 45px, 45px, 45px )
		position relative
		text-align center
		& a
			color white
		& h3
			bord( 0, 0, 0, 4px, solid, lighten($primary-bg-color, 45%) )
			flex 2 0 100%
		& p
			flex 1 0 100%
			max-width 800px

footer.ab-footer
	background-color $text-color
	padd( 50px, 0, 0, 50px )
	text-align center
	& a
		color white
		text-decoration none
		&:hover
			text-decoration underline
