+above( $desktop )
	nav.mobile
		display none

+below( $desktop )
	nav.mobile
		align-items baseline
		background-color $secondary-bg-color
		bord( 2px, 0, 0, 0, solid, $off-white )
		bottom 0
		display inline-flex
		flex-flow row nowrap
		position fixed
		width 100%
		z-index 20
		& a
			flex-grow 1
			padd( 20px, auto, auto, 20px )
			text-align center
			// &:nth-of-type( n+2 )
			// 	bord( 0, 2px, 0, 0, solid, white )

	nav.mobile a
		&.active .fa
			color white
		& .fa
			color darken( $off-white, 15% )

	// Spacing for page content
	footer
		background-color RGBA( 39, 40, 51, 1 )
		margin-bottom $nav-height-calc

// TODO Need to add an overscroll because this menu hides the FAQ link