.nav-top-spacing
.ab-background#the-team-img
.faq-primary
	.block-text
		h1.wow.fadeInDown(data-wow-delay="0.5s") &nbsp;
		h3.wow.fadeInDown(data-wow-delay="0.5s") &nbsp;
		h3.wow.fadeInDown(data-wow-delay="0.5s") &nbsp;
		h3.wow.fadeInDown(data-wow-delay="0.5s") &nbsp;

.explanation-container
	.ab-distinction.ab-expl-unlock
		.full-explanation
			.text-content
				h3 The Inspiration
				p This project started out of our own need. We wanted an easy way to get around campus without all the hassle and expense of owning a bike. The red bar that used to appear between classes on the UMD schedule gave rise to our name, RedBar Bikes.
		.full-explanation
			.inspiration-img

	//- .ab-distinction.ab-expl-unlock
	.full-explanation
		.text-content
			h3 The Technology
			p Our lock is state of the art. We have built our lock around the best user experience, security, and materials available. The lock features a smart, RFID panel that allows you to seamlessly unlock the bike with a tap of your ID.
			//- Inside is a low power wireless XBEE module that communicates with our website to help locate each bike.
	.full-explanation.ab-secondary
		.container
			.row
				.col-sm-4.col-xs-12
					.static-card
						i.fa.fa-wifi.fa-inverse.fa-2x
						h2.card-header Wireless Communication
						p.card-content Utilizing a unique and powerful application of an XBee mesh network, the bikes on campus are as smart as they are convenient.
				.col-sm-4.col-xs-12
					.static-card
						i.fa.fa-lock.fa-inverse.fa-2x
						h2.card-header Secure Access
						p.card-content The RedBars ID is powered by secure, NFC-based user identification. Only authorized users can access and rent a bike.
				.col-sm-4.col-xs-12
					.static-card
						i.fa.fa-bar-chart.fa-inverse.fa-2x
						h2.card-header Smart Metrics
						p.card-content Our administrator dashboard is beautiful. Administrators have the ability to quickly and easily resolve user or system errors.

	//- .ab-distinction.ab-expl-unlock
	//- 	.full-explanation
	//- 		.text-content
	//- 			h3 This is our lock
	//- 	.full-explanation
	//- 		.lock-img

	.full-explanation
		.text-content
			h3 Common Questions
			p Users often ask what makes RedBars unique and why they should join?
	.full-explanation.ab-secondary
		.container
			.row
				.col-sm-4.col-xs-12
					.static-card
						i.fa.fa-bicycle.fa-inverse.fa-2x
						h2.card-header Convenience
						p.card-content Our professional staff of bike mechanics makes regular repairs and tunes every bike for the perfect ride. You never have to worry about a flat tire ever again.
				.col-sm-4.col-xs-12
					.static-card
						i.fa.fa-university.fa-inverse.fa-2x
						h2.card-header Easy Access
						p.card-content Find the nearest RedBar bike from any device you use. From a laptop to your iPhone, visit the map page and tap any available bike icon to make a five minute reservation.
				.col-sm-4.col-xs-12
					.static-card
						i.fa.fa-refresh.fa-inverse.fa-2x
						h2.card-header Simple Return
						p.card-content Unlike other bike shares, we understand that students need flexibility, so RedBar is built to let you return your rental to any rack and our technology will handle the rest.

	//- .ab-distinction.ab-expl-unlock
	//- 	.full-explanation
	//- 		.text-content
	//- 			h3 Some People Wonder Why This Photo Keeps Appearing
	//- 			p I have no idea
	//- 	.full-explanation
	//- 		.unlock-img
	//- 		//- .lock-img
