template(name='testTable')
  a(href='http://datatables.net/index') API
  a(href='https://atmospherejs.com/?q=sort') atmospherejs Search
  table#example.table.table-striped.table-bordered(cellpadding='0' cellspacing='0' border='0')
    thead
      tr
        th Rendering engine
        th Browser
        th Platform(s)
        th Engine version
        th CSS grade
    tbody
      tr.odd.gradeX
        td Trident
        td
          | Internet
          | Explorer 4.0
        td Win 95+
        td.center  4
        td.center X
