.nav-spacing
.container
	if isInRole 'Root'
		.row
			h1 Welcome back root user.
			h4 Hopefully this is Kyle. Hopefully?
			p Feel the power to remove any collections that you see fit!
			br
		.row
			table.table.table-hover.table-condensed
				thead
					tr
						th Name
						th Count
						th Action
						th Clear
				tbody
					each listOfCollections
						tr
							td {{name}}
							td {{count}}
							td
								button.action(id=action) Update Collection
							td
								button.clear(id=clear) Clear Collection
							//- NOTE: Need the double {{ }}
							//- otherwise the [0] and formatDate won't work
		.row
			br
			h4 Bike Access Request Table (ReservationEvents)
			p See all live requests to the reservation system
		.row
			table.table.table-hover.table-condensed
				thead
					tr
						th USER_ID
						th LATITUDE
						th LONGITUDE
						th LOCKSTATE
						th Module_ID
						th TIMESTAMP
						th confirmation
						th Address
				tbody
					each requestEvent
						tr
							td {{USER_ID}}
							td {{LATITUDE}}
							td {{LONGITUDE}}
							td {{LOCKSTATE}}
							td {{Module_ID}}
							td {{TIMESTAMP}}
							td {{confirmation}}
							td {{Address}}
		.row
			br

	else
		.row
			h1 Access denied.
			h3 The root control panel is only available to users with the root role
			h3 Since this website is in development, try logging in as a root user for access
