.ab-background
.ab-primary(data-midnight="blur")
	.block-text
		h1.wow.fadeInDown(data-wow-delay="0.5s") RedBar Bikeshare
		h3.wow.fadeInDown(data-wow-delay="0.5s") Bikes on demand for the busy student
		button(href='#' data-wow-delay="0.5s").cta-start.wow.fadeInDown Get Started

//- .explanation-container

.ab-quote
	.container
		.row
			.cta-quote-container
				p.cta-quote RedBar is the best way to get around campus. Built by a small group of UMD students, we took the accessibility and convenience of biking and removed the hassle, such as fixing flat tires, and maintenance
				p.cta-quote.bold We make biking easy, affordable, and fun. Be one of the first RedBar bike riders!


h1.textcenter Learn how to get started

.explanation-container
	.half-explanation
		.text-content
			h3 Reserve
			p The image above is a screenshot of
				a(href="{{ pathFor 'map' }}")
					|  RedBarBikes.com/map
				|  where you can see every available bike. Tap any icon to reserve that bike for 5 minutes and ensure that a bike will be available when you arrive at the rack.
	.half-explanation
		.ab-map-demo
	.half-explanation
		.Inspiration-img
	.half-explanation
		.text-content
			h3 Unlock
			p Walk up to any bike on campus and tap your RedBar ID to the panel. If confirmed, the bike lock will release and can be rotated into a riding position. Enjoy your ride!
	.half-explanation
		.text-content
			h3 Return
			p Complete your rental by returning to any on-campus rack. Release the lock from the riding position and loop the lock through the hoop. If you need help finding a nearby rack, visit
				a(href="{{ pathFor 'map' }}")
					|  RedBarBikes.com/map
				|  and look for the purple squares.
	.half-explanation
		.Lock-img


//- .ab-cta
//- 	.container
//- 		.static-card.col-xs-12
//- 			h2 Sign Up Now for the Casual Rider Plan
//- 			p.card-content Register for your chance to be part of the first RedBar bike riders
//- 			.row
//- 				input.email(placeholder='UMD Email' type='text').col-sm-6.col-sm-push-3.col-xs-12.col-xs-push-0
//- 			.row
//- 				input.password(placeholder='Password' type='text').col-sm-6.col-sm-push-3.col-xs-12.col-xs-push-0
//- 			.row
//- 				label
//- 					input(type='checkbox' name='checkbox' value='value')
//- 					| I agree to the
//- 					a(href='"{{ pathFor \'terms\' }}"') terms
//- 			.row
//- 				button.cta-start Submit

.pricing-container
	.container
		.row.ab-pricing
			.col-sm-4.col-xs-12
				.static-card.smaller
					i.fa.fa-hourglass-2.fa-2x
					h2 Casual rider
					p See what makes RedBars so convenient!
					.ab-pricing-bullets
						ul
							li
								span Pay $2 per 15 minutes of riding
							li
								span No Commitment
					button.cta-start $2 per 15 min
			.col-sm-4.col-xs-12
				.static-card.focal
					i.fa.fa-hand-paper-o.fa-2x
					h2 The Daily Rider
					p Ready to get hooked?
					.ab-pricing-bullets
						ul
							li
								span Five free rides per day
							li
								span Reduced cost for additional rides
					button.cta-start $15 per month
			.col-sm-4.col-xs-12
				.static-card.smaller
					//- i.fa.fa-map.fa-2x
					i.fa.fa-bolt.fa-2x
					h2 The Bike-aholic
					p No distance is too short for a quick ride!
					.ab-pricing-bullets
						ul
							li
								span UNLIMITED rides per day
							li
								span Access to Request a Bike program
					button.cta-start $25 per month

footer.ab-footer
	.container
		.row
			h3
				a(href="{{ pathFor 'FAQ' }}").next Want to learn more? Explore our FAQ →
