template(name='Company')
  .container
    .ab_primary
      h1.wow.fadeInDown(data-wow-delay="0.5s") RedBar The Company
      h3.wow.fadeInDown(data-wow-delay="0.5s") Well more of a bunch of students, but here is our story

  .container.ab_tertiary
    .row
      .col-sm-4.col-xs-12.wow.fadeInLeft
        .Inspiration-img
      .col-sm-8.col-xs-12.descriptor-parent.wow.fadeInRight
        .descriptor
          h3 The Inspiration
          p This project started out of our own need. We wanted an easy way to get around campus without all the hassle and expense of owning a bike. The red bar that used to appear between classes on the UMD schedule gave rise to our name, RedBar Bikes.

  footer.ab_footer
    .container
      .row
        .col-sm-4.col-xs-12
          ul.unstyled
            li
              a(href="{{ pathFor 'FAQ' }}") FAQ
            li
              a(href="{{ pathFor 'Technology' }}") Our Technology
        .col-sm-4.col-xs-12
          ul.unstyled
            li
              a(href="{{ pathFor 'Company' }}") About Us
            li
              a(href="{{ pathFor 'Company' }}#contact") Contact Us
        .col-sm-4.col-xs-12.next-parent
          a(href="{{ pathFor 'FAQ' }}").next Explore the FAQ →