.ab-background
.ab-primary(data-midnight="blur")
	.block-text
		h1.wow.fadeInDown(data-wow-delay="0.5s") RedBar FAQ
		h3.wow.fadeInDown(data-wow-delay="0.5s") Commonly Asked Questions
		h3.wow.fadeInDown(data-wow-delay="0.5s") TO BE CONTINUED....