template(name='admin1layout')
  h1 admin1 - Inventory
  h6 Bikes in need of repair
  h6 Unused bikes (last use greater than 2 days?)
  h6 Bikes in repair + partlist to order
  h6 *Admin1 - Unused bikes*
  h6 *Admin1 - Renting trends (day, month, year)*
  h6 *Admin1 - Per Bike rider view (last use history)*

  h1 admin2 - Redistribution
  h6 *Admin1 - Unused bikes*
  h6 *Admin1 - Renting trends (day, month, year)*
  h6 Peak rack usage (optimize redistribution through JS function) (heatmap?)
  h6 Redistrubition paths (polygon route on leaflet map?)

  h1 admin3 - Users
  h6 *Admin1 - Per Bike rider view (last use history)*
  h6 Search: (by Name, phone, email, UID, by bike)
  h6 Table view of current users
  h6 Refund request and reimbursement functionality?