.nav-spacing
.container
	#auto-signin.bluebox
		h3.login-title Click one of these buttons to fill in a username and password in the sign in box below:
		ul.button-list
			li.button-link
				button.btn.btn-primary.fill-login(type='button')#root Root
			li.button-link
				button.btn.btn-primary.fill-login(type='button')#admn Administrator
			li.button-link
				button.btn.btn-primary.fill-login(type='button')#mech Mechanic (Employee)
			li.button-link
				button.btn.btn-primary.fill-login(type='button')#user User
		p.login-guide As this site is under development, these buttons give you the opportunity to explore all of the functionality! Feel free to also try setting up a new account (although please don't put any personal data because everyone currently has complete admin access with the above buttons).
.ab-cta
	.container
		.row
			+atForm
