.nav-spacing
.container
	.row
		.auto-signin
			h1 Click one of these buttons to populate the sign in fields
			p As this site is under development, there is no security worry and this gives you the opportunity to explore all of the functionality.
			ul
				li
					button.cta-start.fill-login#root Root
				li
					button.cta-start.fill-login#admn Administrator
				li
					button.cta-start.fill-login#mech Mechanic (Employee)
				li
					button.cta-start.fill-login#user User
.ab-cta
	.container
		.row
			+atForm
