.nav-spacing
.container
	#auto-signin.dev
		h3 Click one of these buttons to populate the sign in fields:
		p.dev As this site is under development, these buttons give you the opportunity to explore all of the functionality!
		ul.dev
			li.dev
				button.btn.btn-primary.fill-login(type='button')#root Root
			li.dev
				button.btn.btn-primary.fill-login(type='button')#admn Administrator
			li.dev
				button.btn.btn-primary.fill-login(type='button')#mech Mechanic (Employee)
			li.dev
				button.btn.btn-primary.fill-login(type='button')#user User
.ab-cta
	.container
		.row
			+atForm
