// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Fixed cover photo
.ab-background
	img-fill( 650px, 'about/BikeRack.jpg', cover )
	left 0
	position absolute
	top 0
	z-index -1

.block-text
	width 50%

// Welcome Text
.ab-primary
	// for n in 1..6
	// 	h{n}
	// 		-webkit-text-stroke thin black
	color white
	padd( 180px, auto, auto, 180px )
	text-align center
	z-index 2

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Quick Summary and Value Proposition
.ab-quote
	background-color white
	padd( 120px, auto, auto, 120px )
	z-index 2

.cta-quote-container
	+above( 800px )
		marg( 0, auto, auto, 0 )
		max-width 800px
	display block
	marg( 0, 50px, 50px, 0 )
	max-width 100%

p.cta-quote
	color $nav_text
	font-size 22px
	text-align center

.bold
	font-weight bold

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Walk through
.ab-map-demo
	img-fill( 300px, 'about/EditedBikeMap.png', cover )



// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Bulleted Value Proposition
.ab-secondary
	background-color $soft-bg-color
	padd( 25px, auto, auto, 25px )
	z-index 2

// Trio of Card elements
.ab-secondary .static-card
	+above( 750px )
		height 280px
	background-color white
	height 240px
	marg( 5px, 5px, 5px, 5px )
	padd( 10px, 15px, 15px, 10px )
	text-align center
	z-index 2
	& i
		background-color $brand-highlight
		border-radius 50%
		height 75px
		line-height 75px
		vertical-align middle
		width 75px

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Images and Description
.Inspiration-img
	img-fill( $ab-height, 'about/TheInspiration.jpg', cover )
	// border-left 1px solid black
.Lock-img
	img-fill( $ab-height, 'about/TheLock.jpg', cover )

.explanation-container
	display inline-flex
	flex-flow row wrap
	& .full-explanation
		background-color gray
		bord( 1px, 0, 0, 1px, solid, black )
		flex 1 0 100%
		padd( 20px, auto, auto, 80px )
	& .half-explanation
		align-items center
		background-color gray
		bord( 0, 0, 0, 1px, solid, black )
		display flex
		flex 0 1 50%
		position relative
	& .text-content
		color white
		flex 1
		padd( 20px, 20px, 20px, 20px )
		text-align center
		& a
			color white



// // %%%%%%%%%%%%%%%%%%%%%%%%%%
// // Call to action
// .ab-cta
// 	padd( 25px, auto, auto, 25px )
// 	background-color $soft-bg-color

// // Single card element
// .ab-cta .static-card
// 	text-align center
// 	background-color white
// 	padd( 30px, 15px, 15px, 30px )
// 	marg( 0, 5px, 5px, 0 )
// 	& input
// 		padding 10px
// 		margin 5px

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Trio of Card elements
.ab-pricing
	margin-bottom 30px
	margin-top 30px
	& button.nb-start
		font-size 20px
	& .static-card
		+above( 750px )
			height 480px
		border-radius 10%
		border 1px solid #BDC3C7
		height 400px
		text-align center
		&:hover
			border 2px solid $brand-highlight
		& .ab-pricing-bullets
			marg( 0, auto, auto, 0 )
			max-width 300px
		& ul
			text-align left
			& li
				margin-left 0
		&.focal
			height 450px
			marg( 5px, 5px, 5px, 5px )
			padd( 70px, 15px, 15px, 20px )
		&.smaller
			height 480px - 2*60px
			marg( 60px, 5px, 5px, 60px )
			padd( 20px, 15px, 15px, 20px )
		// Add a circle background to icon
		& i
			background-color $brand-highlight
			border-radius 50%
			color white
			height 75px
			line-height 75px
			vertical-align middle
			width 75px

footer.ab-footer
	background-color $soft-bg-color
	padd( 25px, 0, 0, 25px )
	text-align center
	& a
		color white
