// Quick function
Fill-Image(height, url, style)
	background-image url(url)
	height height
	width 100%
	background-size style
	background-repeat no-repeat
	background-position center

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Fixed cover photo
.ab_background
	position absolute
	top nb_CalcHeight
	left 0px
	z-index -1
	Fill-Image(400px, "about/AbstractBikers.png", cover)

// Welcome Text
.ab_primary
	z-index 2
	padd(75px, auto, auto, 75px)
	// Center Everything
	text-align center
	// marg(0, auto, auto, 0)
	// display block

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Bulleted Value Proposition
.ab_secondary
	z-index 2
	padd(25px, auto, auto, 25px)
	background-color lighten(#BDC3C7, 50%)

// Trio of Card elements
.ab_secondary .static-card
	z-index 2
	text-align center
	background-color white
	height 240px
	+above(750px)
		height 280px
	padd(10px, 15px, 15px, 10px)
	marg(5px, 5px, 5px, 5px)
	& i
		// Add a circle background to icon
		width 75px
		height 75px
		line-height 75px
		vertical-align middle
		border-radius 50%
		background-color nb_Highlight

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Images and Description
ab_height = 300px
.Inspiration-img
	Fill-Image(ab_height, "about/TheInspiration.jpg", contain)
.Lock-img
	Fill-Image(ab_height, "about/TheLock.jpg", contain)

.ab_tertiary
	// background-image url("about/map.png")
	// background-size cover
	// background-repeat no-repeat
	// background-position center
	padd(30px, 0px, 0px, 30px)
	& .descriptor-parent
		// Table method for vertical centering
		height ab_height
		display table
		& .descriptor
			// sortofcenter = 0.5*(ab_height - 95px)
			// sortofcenter = 0.5*(ab_height - 125px)
			marg(auto, 30px, 30px, 0px)
			display table-cell
			vertical-align middle
			& .content
				border-radius 5px
				background-color white
				padd(10px, 10px, 10px, 10px)

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Call to action
.ab_cta
	padd(25px, auto, auto, 25px)
	background-color lighten(#BDC3C7, 50%)

// Single card element
.ab_cta .static-card
	text-align center
	background-color white
	padd(30px, 15px, 15px, 30px)
	marg(0, 5px, 5px, 0px)
	& input
		padding 10px
		margin 5px

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Trio of Card elements
.ab_pricing
	// Negative margin inserted from Bootstrap:
	// marg(0px, 0px, 0px, 0px)
	margin-top 30px
	margin-bottom 30px
	& .static-card
		text-align center
		color white
		background-color nb_Highlight
		height 400px
		+above(750px)
			height 480px
		padd(20px, 15px, 15px, 20px)
		&.focal
			marg(5px, 5px, 5px, 5px)
			height 450px
		&.smaller
			marg(60px, 5px, 5px, 60px)
			height 480px - 2*60px
		& i
			// Add a circle background to icon
			width 75px
			height 75px
			line-height 75px
			vertical-align middle
			border-radius 50%
			background-color white
			color nb_Highlight

footer.ab_footer
	padd(25px, 0px, 0px, 25px)
	background-color lighten(#BDC3C7, 50%)
	text-align center
	& ul
		padd(0px, 0px, 0px, 0px)
		& li
			padd(5px, 0px, 0px, 5px)
			& a
				color #2B3E51
	& .next-parent
		height 88px
		display table
		& .next
			color #2B3E51
			display table-cell
			vertical-align middle


.test
	padd(25px, auto, auto, 25px)
	// padding-top 10px
	// height 0px
	background-color lighten(#BDC3C7, 50%)

.slant
	top 43px
	left 0
	width 100%
	z-index 1
	transform skew(0deg, -5deg)
	outline 1px solid transparent
	box-sizing content-box
	margin 0 auto
