// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Fixed cover photo
.ab-background
	img-fill( 650px, 'about/BikeRack.png', cover )
	position absolute
	top 0
	z-index -1

.block-text
	width 50%

// Welcome Text
.ab-primary
	color white
	padd( 180px, auto, auto, 180px )
	text-align center
	z-index 2

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Quick Summary and Value Proposition
.ab-quote
	background-color $soft-bg-color
	padd( 120px, auto, auto, 120px )
	z-index 2

.cta-quote-container
	+above( 800px )
		marg( 0, auto, auto, 0 )
		max-width 800px
	display block
	marg( 0, 50px, 50px, 0 )
	max-width 100%
	& p.cta-quote
		color $nav-bg-color
		font-size 22px
		text-align center

.bold
	font-weight bold

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Walk through
.ab-map-demo
	img-fill( 300px, 'about/EditedBikeMap.png', cover )

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Bulleted Value Proposition
.ab-secondary
	background-color $soft-bg-color
	padd( 25px, auto, auto, 25px )
	z-index 2

// Trio of Card elements
.ab-secondary .static-card
	+above( 750px )
		height 280px
	background-color white
	height 240px
	marg( 5px, 5px, 5px, 5px )
	padd( 10px, 15px, 15px, 10px )
	text-align center
	z-index 2
	& i
		background-color $brand-highlight
		border-radius 50%
		height 75px
		line-height 75px
		vertical-align middle
		width 75px

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Images and Description
.inspiration-img
	img-fill( $ab-height, 'about/TheInspiration.jpg', cover )
.lock-img
	img-fill( $ab-height, 'about/TheLock.jpg', cover )
.unlock-img
	img-fill( $std-element-height, 'about/unlock.jpg', cover)
.return-img
	img-fill( $std-element-height, 'about/lock.jpg', cover)

.intro-expl-invert
	// background-color RGBA( 43, 52, 61, 1 )
	background-color white
	margin 0
	padding 40px
	text-align center
	width 100%

.explanation-container
	background-color $hard-bg-color
	display inline-flex
	flex-flow row wrap
	& .full-explanation
		+ below( 750px )
			flex 2 0 100%
		align-items center
		display flex
		flex 1 0 60%
		position relative
	& .big-half-explanation
		+ below( 750px )
			flex 2 0 100%
		align-items center
		display flex
		flex 1 0 60%
		position relative
	& .small-half-explanation
		+ below( 750px )
			flex 2 0 100%
		align-items center
		display flex
		flex 1 0 40%
		position relative
		// bord( 0, 0, 3px, 0, solid, #517DF4)
		// box-shadow 0 3px 5px 0 #ccc
	& .text-content
		color white
		flex 1
		padd( 20px, 20px, 20px, 20px )
		text-align center
		& a
			color white



// // %%%%%%%%%%%%%%%%%%%%%%%%%%
// // Call to action
// .ab-cta
// 	padd( 25px, auto, auto, 25px )
// 	background-color $soft-bg-color

// // Single card element
// .ab-cta .static-card
// 	text-align center
// 	background-color white
// 	padd( 30px, 15px, 15px, 30px )
// 	marg( 0, 5px, 5px, 0 )
// 	& input
// 		padding 10px
// 		margin 5px

// %%%%%%%%%%%%%%%%%%%%%%%%%%
// Trio of Card elements
.ab-pricing
	margin-bottom 30px
	margin-top 30px
	& button.nb-start
		font-size 20px
	& .static-card
		+above( 750px )
			height 480px
		border-radius 10%
		border 1px solid #BDC3C7
		height 400px
		text-align center
		&:hover
			border 2px solid $brand-highlight
		& .ab-pricing-bullets
			marg( 0, auto, auto, 0 )
			max-width 300px
		& ul
			text-align left
			& li
				margin-left 0
		&.focal
			height 450px
			marg( 5px, 5px, 5px, 5px )
			padd( 70px, 15px, 15px, 20px )
		&.smaller
			height 480px - 2*60px
			marg( 60px, 5px, 5px, 60px )
			padd( 20px, 15px, 15px, 20px )
		// Add a circle background to icon
		& i
			background-color $brand-highlight
			border-radius 50%
			color white
			height 75px
			line-height 75px
			vertical-align middle
			width 75px

footer.ab-footer
	background-color RGBA( 39, 40, 51, 1 )
	padd( 25px, 0, 0, 25px )
	text-align center
	& a
		color white
