// Variables
$nav-bg-color = white
$text-color = #33495F
$soft-bg-color = #268DD0
$hard-bg-color = #33495F
$brand-highlight = #C23824
// $brand-highlight = RGBA( 193, 38, 64, 1 )
$nav-height-calc = 75px
$nav-active-space = 13.5px
$nav-element-space = 20px
$nav-left-space = 60px
$nav-top-space = 20px

// Should be replaced with a better var
$ab-height = 300px

$std-element-height = 400px

$flat-primary-color = #5499C7
$flat-secondary-color = #154360
