// Variables
$nav-bg-color = white
$nav-text-color = #2B3E51
$brand-highlight = RGBA( 193, 38, 64, 1 )
$soft-bg-color = lighten( #88919A, 10% )
$nav-height-calc = 75px
$nav-active-space = 13.5px
$nav-element-space = 20px
$nav-left-space = 60px
$nav-top-space = 20px

// Should be replaced with a better var
$ab-height = 300px

$flat-primary-color = #5499C7
$flat-secondary-color = #154360
