// Color Palette
$nav-bg-color = white
$text-color = #33495F
$primary-bg-color = #268DD0
$secondary-bg-color = #33495F
$off-white = #ECF0F1
$brand-highlight = #C23824
$brand-bright = RGBA( 193, 38, 64, 1 )
$flat-primary-color = #5499C7
$flat-secondary-color = #154360

// Nav Bar
$nav-height-calc = 72px
$nav-active-space = 13.5px
$nav-element-space = 20px
$nav-left-space = 60px
$nav-top-space = 20px

// About Page
$ab-height = 300px
$std-element-height = 400px

// Responsive Design:
$mobile = 750px
// widened for mobile on an iPad
$desktop = 850px
$monitor = 1100px
