body
	color $text-color
	font-family 'PT Sans', sans-serif

// button
	// margin-bottom 6px !important

// Flat Buttons
button.flat
	background-color $flat-primary-color
	border 0
	border-radius 4px
	box-shadow 0 2px 0 0 $flat-secondary-color
	color white
	cursor pointer
	padding 5px
	text-shadow 0 1px rgba( 0, 0, 0, 0.3 )
	transition background 0.2s ease-in-out
	&.big
		box-shadow 0 4px 0 0 $flat-secondary-color
		margin 10px
		padding-left 10px
		padding-right 10px
		padding-top 8px
button.flat:hover
	background-color $flat-secondary-color

button.cta-start
	background-color $brand-highlight
	border solid white
	border-radius 5px
	border-width thin
	color white
	margin-top 10px
	padding $nav-top-space - @margin-top
	z-index 20
	&.inverse
		background-color $nav-bg-color
		color $brand-highlight