// .map-container
// 	+above( 750px )
// 		top NavHeight
// 	bottom 40px
// 	height auto
// 	left 0
// 	position fixed
// 	right 0
// 	top MobileNavHeight

.map-container-full
	// +above( 750px )
	// 	top NavHeight
	bottom 0
	left 0
	position fixed
	right 0
	top 0
	// top MobileNavHeight

.full-screen-map
	height 100%
	width 100%

// .float-map
// 	height 2 * 300px
// 	position float

// #reserve
// 	bottom 0
// 	height 40px
// 	left 0
// 	position fixed
// 	right 0

// .part-screen-map
// 	height 50em
// 	width 100%
