// FourSidedShortcuts
padd( top, left, right, bottom )
	padding-bottom bottom
	padding-left left
	padding-right right
	padding-top top

marg( top, left, right, bottom )
	margin-bottom bottom
	margin-left left
	margin-right right
	margin-top top

bord( top, left, right, bottom, style, color )
	border-color color
	border-style style
	border-width top right bottom left

img-fill( height, url, fill, position )
	background-image url(url)
	background-position position
	background-repeat no-repeat
	background-size fill
	height height
	width 100%
