// FourSidedShortcuts
padd( top, left, right, bottom )
	padding-bottom bottom
	padding-left left
	padding-right right
	padding-top top

marg( top, left, right, bottom )
	margin-bottom bottom
	margin-left left
	margin-right right
	margin-top top

bord( top, left, right, bottom, style, color )
	border-color color
	border-style style
	border-width top right bottom left

img-fill( height, url, style )
	background-image url(url)
	background-position center
	background-repeat no-repeat
	background-size style
	height height
	width 100%
