// Variables
nb_TopSpacing = 20px
nb_Background = white
nb_Text = black
nb_Highlight = red
nb_CalcHeight = 58px + 7px
nb_LeftSpace = 60px
nb_ElementSpacing = 20px

ul.unstyled
	list-style-type none
	// & li a
	// 	text-decoration none

// Simple fixed flat bar with logo and navbar icons
nav.midnight_header
	z-index 20
	position fixed
	text-transform uppercase
	height nb_CalcHeight !important
	width 100%

// Logo
.nb-brand
	position fixed
	top nb_TopSpacing
	left nb_LeftSpace
	text-decoration none
	font-size 28px

// Links
nav .nav-elements
	position fixed
	top 0
	right 0
	ul
		margin 0
		list-style-type none
		padding-right nb_LeftSpace - nb_ElementSpacing
		& li
			display inline
			& a
				nb_ActiveBorderRoom = 13.5px
				padd(0, nb_ActiveBorderRoom, nb_ActiveBorderRoom, 5px)
				marg(nb_TopSpacing, nb_ElementSpacing - nb_ActiveBorderRoom, nb_ElementSpacing - nb_ActiveBorderRoom, 0)
				text-decoration none

// isActiveRoute Highlight
nav li a.active
	bord(0, 0, 0, 5px)
	border-style solid

// CTA Button
button.nb-start
	color nb_Background
	background-color nb_Highlight
	&.inverse
		color nb_Highlight
		background-color nb_Background
	margin-top 10px
	padding nb_TopSpacing - @margin-top
	border-radius 5px
	border 0

// Spacing for page content
.nb-spacing
	padding-top nb_CalcHeight
// +above(750px)
//   padding-top: NavHeight


// Midnight.js Alterations
.midnightHeader.default
	background-color nb_Background
	& .nb-brand
		display block
		color nb_Text
	& a
		color nb_Text
	& li a.active
		border-color nb_Text

.midnightHeader.none
	background-color none
	& .nb-brand
		display none
		color white
	& a
		color white
	& li a.active
		border-color white


// nav.midnight_header
//   position: fixed;
//   z-index: 1;
//   text-align: left;
//   text-transform: uppercase;
//   & a
//   	font-size 80px
//   	color white

// .midnightHeader.none
//   background-color black

// .midnightHeader.default
// 	background-color green
