// Variables
nb_TopSpacing = 20px
nb_Background = white
nb_Text = #2B3E51
nb_Highlight = RGBA(191, 59, 56, 1)
nb_CalcHeight = 75px
nb_LeftSpace = 60px
nb_ElementSpacing = 20px

ul.unstyled
	list-style-type none
	// & li a
	// 	text-decoration none

// Simple fixed flat bar with logo and navbar icons
nav.midnight_header
	z-index 20
	position fixed
	text-transform uppercase
	// height nb_CalcHeight - set by Midnight.js
	width 100%
	// Logo
	& .nb-brand
		position relative
		text-decoration none
		font-size 25px
		padd(20px, 20px, auto, 20px)
	& .nav-elements
		float: right
		display inline-block
		// right 0 // - causes height to be zero of element
		ul
			marg(5px, auto, auto, 5px)
			list-style-type none
			padding-right nb_LeftSpace - nb_ElementSpacing
			& li
				display inline
				& a
					nb_ActiveBorderRoom = 13.5px
					padd(0, nb_ActiveBorderRoom, nb_ActiveBorderRoom, 5px)
					marg(nb_TopSpacing, nb_ElementSpacing - nb_ActiveBorderRoom, nb_ElementSpacing - nb_ActiveBorderRoom, 0)
					text-decoration none

// isActiveRoute Highlight
nav li a.active
	bord(0, 0, 0, 5px)
	border-style solid

// CTA Button
button.nb-start
	color nb_Background
	background-color nb_Highlight
	&.inverse
		color nb_Highlight
		background-color nb_Background
	margin-top 10px
	padding nb_TopSpacing - @margin-top
	border-radius 5px
	border 0

// Spacing for page content
.nb-spacing
	padding-top nb_CalcHeight
// +above(750px)
//   padding-top: NavHeight


// Midnight.js Alterations
MidNight(BorderC, DisplayV, MainColor)
	background-color BorderC
	& .nb-brand
		display DisplayV
		color MainColor
	& a
		color MainColor
	& li a.active
		border-color MainColor

.midnightHeader.none
	MidNight(none, none, white)
.midnightHeader.blur
	MidNight(RGBA(255, 255, 255, 0.1), none, white)
.midnightHeader.default
	MidNight(nb_Background, inline-block, nb_Text)
