+above(550px)
	nav.mobile
		display none

+below(550px)
	nav.mobile
		z-index 20
		position fixed
		bottom 0
		width 100%
		background-color gray

		display inline-flex
		// flex-direction row
		// flex-wrap nowrap
		flex-flow row nowrap
		align-items baseline
		& a
			padd(20px, auto, auto, 20px)
			flex-grow 1
			text-align center
			&:nth-of-type(n+2)
				bord_dev(0, 2px, 0, 0, solid, white)
