// Variables
nb_TopSpacing = 20px
nb_Background = white
nb_Text = #2B3E51
nb_Highlight = RGBA(191, 59, 56, 1)
nb_CalcHeight = 75px
nb_LeftSpace = 60px
nb_ElementSpacing = 20px

// Simple fixed flat bar with logo and navbar icons
nav.mobile
	z-index 20
	position fixed
	bottom 0
	left 0
	width 100%
	background-color nb_Highlight
	& .mobile-nav-element
		width 23%
		border 3px solid black

