// FourSidedShortcuts
padd(top, left, right, bottom)
	padding-top top
	padding-left left
	padding-right right
	padding-bottom bottom

marg(top, left, right, bottom)
	margin-top top
	margin-left left
	margin-right right
	margin-bottom bottom

bord(top, left, right, bottom)
	border-top top
	border-left left
	border-right right
	border-bottom bottom

Fill-Image(height, url, style)
	background-image url(url)
	height height
	width 100%
	background-size style
	background-repeat no-repeat
	background-position center
