.nav-spacing
.container
	.row
		h1 Profile
.container
	.row
		h1 FORM Fields:
		h3 Name
		h3 RFID Code
		h3 phone
+USEFULFORM
//- .container
//- 	.row
//- 		h1 Actual form:
//- 		h3 This is #{isBob}
//- 		form
//- 			label(for='fullName') Name
//- 			input(type='text' name='fullName' value='place')

//- 			label(for='telephone') Telephone
//- 			//- input(type='text' name='telephone' value={{doc telephone}})

//- 			button(type='submit') Submit form
