template(name='onePageScroll')
  h1 &nbsp;
  h1
    | Enable the one page scroll package for functionality
    | 
    a(href='https://github.com/peachananr/onepage-scroll') One Page Scroll Github and Guide
  .main
    section
      h1 &nbsp;
      h1 test
    section
      h1 &nbsp;
      h1 test2
    section
      h1 &nbsp;
      h1 test3