template(name='FAQ')
  .col-md-2
    //- #nav(data-spy="affix")
    //- .affix
      .list-group
        a.list-group-item.active(href='#') Cras justo odio
        a.list-group-item(href='#') Dapibus ac facilisis in
        a.list-group-item(href='#') Morbi leo risus
        a.list-group-item(href='#') Porta ac consectetur ac
        a.list-group-item(href='#') Vestibulum at eros

  .col-md-12
    //- .col-md-10
    #accordion.panel-group(role='tablist' aria-multiselectable='true')
      .panel.panel-default
        #headingOne.panel-heading(role='tab')
          h4.panel-title
            a(data-toggle='collapse' data-parent='#accordion' href='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
              | What happens if a bike isn't available?
        #collapseOne.panel-collapse.collapse.in(role='tabpanel' aria-labelledby='headingOne')
          .panel-body
            | We are a new company and are constantly learning. To help make sure you have the best experience, report where you wish you had a bike, so we can make sure there will be one there next time.
      .panel.panel-default
        #headingTwo.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
              | What if I fall while riding?
        #collapseTwo.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingTwo')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingThree.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
              | FAQ QUestion #3
        #collapseThree.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingThree')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingFour.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
              | FAQ QUestion
        #collapseFour.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingFour')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingFive.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
              | FAQ QUestion
        #collapseFive.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingFive')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingSix.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseSix' aria-expanded='false' aria-controls='collapseSix')
              | FAQ QUestion
        #collapseSix.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingSix')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingSeven.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseSeven' aria-expanded='false' aria-controls='collapseSeven')
              | FAQ QUestion
        #collapseSeven.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingSeven')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingEight.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseEight' aria-expanded='false' aria-controls='collapseEight')
              | FAQ QUestion
        #collapseEight.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingEight')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingNine.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseNine' aria-expanded='false' aria-controls='collapseNine')
              | FAQ QUestion
        #collapseNine.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingNine')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingTen.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseTen' aria-expanded='false' aria-controls='collapseTen')
              | FAQ QUestion
        #collapseTen.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingTen')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingEleven.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseEleven' aria-expanded='false' aria-controls='collapseEleven')
              | FAQ QUestion
        #collapseEleven.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingEleven')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingTwelve.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseTwelve' aria-expanded='false' aria-controls='collapseTwelve')
              | FAQ QUestion
        #collapseTwelve.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingTwelve')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingThirteen.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseThirteen' aria-expanded='false' aria-controls='collapseThirteen')
              | FAQ QUestion
        #collapseThirteen.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingThirteen')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingFourteen.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseFourteen' aria-expanded='false' aria-controls='collapseFourteen')
              | FAQ QUestion
        #collapseFourteen.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingFourteen')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingFifteen.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseFifteen' aria-expanded='false' aria-controls='collapseFifteen')
              | FAQ QUestion
        #collapseFifteen.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingFifteen')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .panel.panel-default
        #headingNum.panel-heading(role='tab')
          h4.panel-title
            a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseNum' aria-expanded='false' aria-controls='collapseNum')
              | FAQ QUestion Num
        #collapseNum.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingNum')
          .panel-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.