template(name='admin2layoutAllData')
  .template-home
    .page-header
      h1 Admin 2 - All Data
    //- Use data context set by Iron Router
    #with
      table.table.table-hover.table-condensed
        thead
          //- Labels Row
          tr
            th ID
            th User
            th rides
            th &nbsp;
        tbody
          each this
            tr
              td #{_id}
              td #{user}
              td #{rides}
              td
                a(href="{{pathFor 'admin2layoutBikeData'}}")
                  button.seeMore See More