// ITCSS - order CSS by increasing specificity

// Settings/Tools - variables, imported packages, and mixins
@import 'imports/custom-variables.import.styl'

// Namely mixins and functions. Any mixin or function that does not need accessing globally should belong in the partial to which it relates. The Tools layer comes after the Settings layer because a mixin may require one of the global settings as a default parameter.
@import 'nib'
@import 'imports/mixins.import.styl'

// Generic - Normalize. css, global box-sizing rules, CSS resets and so on

// Elements - unclassed elements (h1, etc.)
@import 'CustomBootstrap/custom.bootstrap.import.styl'
@import 'imports/elements.import.styl'

// Objects - non-cosmetic design patterns (layout, etc.)

// Components - most commonly edited: designed pieces of DOM at class-level (features and improvements)
@import 'imports/navBar.import.styl'
@import 'imports/navMobile.import.styl'
@import 'imports/about.import.styl'
@import 'imports/map.import.styl'
@import 'imports/login-form.import.styl'
@import 'imports/slide-in-panel.import.styl'

@import 'imports/dev.import.styl'

// Trumps - Those special case that need the !important

// Links to learn more:
// http://www.creativebloq.com/web-design/manage-large-scale-web-projects-new-css-architecture-itcss-41514731?page=1
// Source for ITCSS descriptions: http://technotif.com/manage-large-css-projects-with-itcss/