each noteFact
	h1 View/Update #{MechanicID}'s Report:
table.table.table-hover.table-condensed
	//- Labels Row
	thead
		tr
			th Bike #
			th Mechanic ID
			th TimeStamp
			th Bike Tag
	tbody
		each noteFact
			tr
				td #{Bike}
				td #{MechanicID}
				td {{formatDate Timestamp "short"}}
				td #{Tag}

form
	label(for='note') Mechanic Report Body Text:
	each noteFact
		textarea.form-control#mechNoteTextArea(rows='3' name='note')
			{{Notes}}
	br
	button.btn.btn-default(type='submit') Update Mechanic Note
