/*!
* Code edited from original distribution as:
 * Bootstrap Pricing Table (http://www.rowbootstrap.com/bootstrap-pricing-table-responsive/)
 */

// body {
//   font-family: 'Lato', sans-serif;
//   font-size: 16px;
//   line-height: 28px;
// }
.main-title {
  font-weight: 700;
  text-align: center;
  margin: 50px 0;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}


/* =================================
Price Table
================================= */
.price-table {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 7px solid #eeeeee;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.price-table:hover {
  background: rgba(0,0,0, .03);
  border-color: #0093DD;
}
.price-table .price-table-heading {
  color: #333333;
  background: #f9f9f9;
  padding: 10px 0;
  margin: 0;
}
.price-table .price-table-heading .title {
  color: #333333;
  font-weight: 900;
  letter-spacing: 1px;
}
.price-table > .price-table-body {
  color: #FFFFFF;
  background: #0093DD;
  padding: 50px 0 30px;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.price-table > .price-table-body .value {
  font-size: 66px;
  font-weight: 300;
  color: #FFFFFF;
  padding: 0;
}
.price-table > .price-table-body .value small {
  font-size: 16px;
}
.price-table > .list-group {
  color: #333;
  font-weight: 400;
  margin-bottom: 0;
}
.price-table > .list-group .list-group-item {
  color: #333;
  font-weight: 400;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.price-table .btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: 700;
}
.price-table-footer {
  background: #eeeeee;
  padding: 15px 0;
}