template(name='ManageMechanicNotes')
	h1 Manage Mechanic Reports
	p View reports filed by staff and generate new documents
	button.btn.btn-primary.btn-lg.ManageMechanicNotes_Insert.dashboard(type="button") Insert New Report
	+tabular table=TabularTables.ManageMechanicNotes class="table table-striped table-hover table-bordered table-condensed" selector=currentSelector id="ManageMechanicNotes"

//- Two sections with titles (Left):
template(name='ManageMechanicNotes_Insert_Title')
	h1.cd Insert New Mechanic Report

//- And (Right)
template(name='ManageMechanicNotes_Form_Title')
	h1.cd Change Mechanic Report
