@import "CustomBootstrap/custom.bootstrap.import.styl"

// Put your Stylus code here!

// enable cross-browser mixins such as linear-gradient and border-radius
// From Stylus Meteor package
@import 'nib'

// Custom Files
@import 'Lib/agency.import.styl'
@import 'Lib/pricing.import.styl'

NavHeight = 70px

.mapContainer
  position fixed
  // space for bottom bar
  bottom 40px
  // space for nav bar
  top NavHeight
  left 0
  right 0
  height auto

.full-screen-map
  height 100%
  width 100%

.float-map
  position float
  height 2*300px

#reserve
	position fixed
	left 0
	right 0
	height 40px
	bottom 0px

// Center and add a gray background, as otherwise hidden behind nav bar
// http://stackoverflow.com/questions/6794000/fixed-position-but-relative-to-container
.loading
  position fixed
  padding 2em
  left 50%
  top 50%
  transform translate(-50%, -50%)

.part-screen-map
  // position absolute
  // Fill screen
  width 100%
  height 50em
  // z-index 1

.rowS
	make-row()
  make-sm-column(3)

header
	.rowS
		padding-top 11px
		make-sm-column(3)

// header
//   make-row()

header
	.brand
		make-sm-column(3)

// body
//   padding-top NavHeight
.navSpacing
  padding-top 30px
  +above(750px)
    padding-top: NavHeight
// .AdminNavSpacing { padding-top: 50px }


body
  overflow-y scroll
  overflow-x visible

.container.toggled
  width 700px

#menu-toggle
  position fixed
  top 10px
  left 260px
  &.toggled
    left 10px

tr.selected
  background-color gray !important
  color white !important

// #updateDailyBikeDataForm
//   position fixed
//   left 260px !important
//   right 10px
//   bottom 10px
//   padding 10px
//   background-color #f9f9f9
// #updateMechanicNotesForm
//   position fixed
//   left 260px !important
//   right 10px
//   bottom 10px
//   padding 10px
//   background-color #f9f9f9