template(name='About')
  .ab_background
  .container
    .ab_primary
      h1.wow.fadeInDown(data-wow-delay="0.5s") RedBar Bikeshare
      h3.wow.fadeInDown(data-wow-delay="0.5s") Bikes on demand for the busy student
      h4.wow.fadeInDown(data-wow-delay="0.5s") (Currently undergoing a major UI overhaul. Stay tuned for updates)
      button(href='#' data-wow-delay="0.5s").nb-start.wow.fadeInDown Get Started

  //- .test.slant

  .ab_secondary
    .container
      .row
        .col-sm-4.col-xs-12
          .static-card
            i.fa.fa-bicycle.fa-inverse.fa-2x
            h2.card-header Convenience
            p.card-content Our professional staff of bike mechanics makes regular repairs and tunes every bike for the perfect ride. You never have to worry about a flat tire ever again.
        .col-sm-4.col-xs-12
          .static-card
            i.fa.fa-university.fa-inverse.fa-2x
            h2.card-header Easy Access
            p.card-content Find the nearest RedBar bike from any device you use. From a laptop to your iPhone, visit the map page and tap any available bike icon to make a five minute reservation.
        .col-sm-4.col-xs-12
          .static-card
            i.fa.fa-refresh.fa-inverse.fa-2x
            h2.card-header Simple Return
            p.card-content Unlike other bike shares, we understand that students need flexibility, so RedBar is built to let you return your rental to any rack and our technology will handle the rest.

  .container.ab_tertiary
    .row
      .col-sm-4.col-xs-12.wow.fadeInLeft
        .Inspiration-img
      .col-sm-8.col-xs-12.descriptor-parent.wow.fadeInRight
        .descriptor
          h3 1. Reserve a Bike
          p Visit RedBarBikes.com/map and see every available bike. Once you find the closest bike, tap once to reserve for 5 minutes and ensure a bike when you arrive at the rack.
    .row
      .col-sm-4.col-xs-12.wow.fadeInLeft
        .Inspiration-img
      .col-sm-8.col-xs-12.descriptor-parent.wow.fadeInRight
        .descriptor
          h3 2. Unlock
          p Walk up to any bike on campus and tap your RedBar ID to the panel. If confirmed, the bike lock will release and can be rotated into a riding position. Enjoy your ride!
    .row
      .col-sm-4.col-xs-12.wow.fadeInLeft
        .Inspiration-img
      .col-sm-8.col-xs-12.descriptor-parent.wow.fadeInRight
        .descriptor
          h3 3. Return
          p Once done riding, return the bike to any rack on campus. Simply release the lock from the riding position and lock the bike to any available bike hoop. If you need help finding a nearby rack, visit RedBarBikes.com/map and look for the purple boxes.

  .ab_cta
    .container
      .static-card.col-xs-12
        h2 Sign Up Now
        p.card-content Register for your chance to be part of the first RedBar bike riders
        .row
          input.email(placeholder='UMD Email' type='text').col-sm-6.col-sm-push-3.col-xs-12.col-xs-push-0
        .row
          input.password(placeholder='Password' type='text').col-sm-6.col-sm-push-3.col-xs-12.col-xs-push-0
        .row
          label
            input(type='checkbox' name='checkbox' value='value')
            | I agree to the
            a(href='"{{ pathFor \'terms\' }}"') terms
        .row
          button.nb-start Submit

  .container
    .row.ab_pricing
      .col-sm-4.col-xs-12
        .static-card.smaller
          i.fa.fa-hourglass-2.fa-2x
          h2 Casual rider
          p Only want to ride a few times a week? This is the basic tier that you are enrolled in automatically. You don&apos;t pay any subscription fee and only need to pay per ride at our low cost of ___ $/ __ unit.
          button.nb-start.inverse $__/ride
      .col-sm-4.col-xs-12
        .static-card.focal
          i.fa.fa-hand-paper-o.fa-2x
          h2 The Daily Rider
          p Can you handle this convenience? This plan gives you five free rides per day to go anywhere that you&apos;d like for the low cost of $15 / month. If you want to ride more, simply pay a reduced price for each additional ride on your busiest days of ___ $/ __ unit. The only question is what will you do with all the time you save?
          button.nb-start.inverse $15/month
      .col-sm-4.col-xs-12
        .static-card.smaller
          //- i.fa.fa-map.fa-2x
          i.fa.fa-bolt.fa-2x
          h2 The Bike-aholic
          p Ready to replace your car and have an extra hour of free time a day? This plan gives you as many free rides as you can take. Ride wherever and whenever you would like for the low cost of &nbsp;$25&nbsp;/ month.
          button.nb-start.inverse $25/month

  footer.ab_footer
    .container
      .row
        .col-sm-4.col-xs-12
          ul.unstyled
            li
              a(href="{{ pathFor 'FAQ' }}") FAQ
            li
              a(href="{{ pathFor 'Technology' }}") Our Technology
        .col-sm-4.col-xs-12
          ul.unstyled
            li
              a(href="{{ pathFor 'Company' }}") About Us
            li
              a(href="{{ pathFor 'Company' }}#contact") Contact Us
        .col-sm-4.col-xs-12.next-parent
          a(href="{{ pathFor 'FAQ' }}").next Explore the FAQ →