template(name='About')
  .ab_background
  .container
    .ab_primary
      h1 RedBar Bikeshare
      h3 Bikes on demand for the busy student
      h4 (Currently undergoing a major UI overhaul. Stay tuned for updates)
      button(href='#').nb-start Get Started

  .ab_secondary
    .container
      .row
        .col-sm-4.col-xs-12
          .static-card
            i.fa.fa-bicycle.fa-inverse.fa-2x
            h2.card-header Convenience
            p.card-content Our professional staff of bike mechanics makes regular repairs and tunes every bike for the perfect ride. You never have to worry about a flat tire ever again.
        .col-sm-4.col-xs-12
          .static-card
            i.fa.fa-university.fa-inverse.fa-2x
            h2.card-header Easy Access
            p.card-content Find the nearest RedBar bike from any device you use. From a laptop to your iPhone, visit the map page and tap any available bike icon to make a five minute reservation.
        .col-sm-4.col-xs-12
          .static-card
            i.fa.fa-refresh.fa-inverse.fa-2x
            h2.card-header Simple Return
            p.card-content Unlike other bike shares, we understand that students need flexibility, so RedBar is built to let you return your rental to any rack and our technology will handle the rest.

  .container.ab_tertiary
    .row
      .col-sm-4.col-xs-12.fadeInLeft
        .Inspiration-img
      .col-sm-8.col-xs-12.fadeInRight
        .descriptor
          h3 1. Reserve a Bike
          p Visit RedBarBikes.com/map and see every available bike. Once you find the closest bike, tap once to reserve for 5 minutes and ensure a bike when you arrive at the rack.
    .row
      .col-sm-4.col-xs-12.fadeInLeft
        .Inspiration-img
      .col-sm-8.col-xs-12.fadeInRight
        .descriptor
          h3 2. Unlock
          p Walk up to any bike on campus and tap your RedBar ID to the panel. If confirmed, the bike lock will release and can be rotated into a riding position. Enjoy your ride!
    .row
      .col-sm-4.col-xs-12.fadeInLeft
        .Inspiration-img
      .col-sm-8.col-xs-12.fadeInRight
        .descriptor
          h3 3. Return
          p Once done riding, return the bike to any rack on campus. Simply release the lock from the riding position and lock the bike to any available bike hoop. If you need help finding a nearby rack, visit RedBarBikes.com/map and look for the purple boxes.
    //- .row
    //-   .col-sm-4.col-xs-12
    //-     .Inspiration-img
    //-   .col-sm-8.col-xs-12
    //-     .descriptor
    //-       h3 The Inspiration
    //-       p This project started out of our own need. We wanted an easy way to get around campus without all the hassle and expense of owning a bike. The red bar that used to appear between classes on the UMD schedule gave rise to our name, RedBar Bikes.
    //- .row
    //-   .col-sm-4.col-xs-12
    //-     .Lock-img
    //-   .col-sm-8.col-xs-12
    //-     .descriptor
    //-       h3 The Technology
    //-       p Our lock is state of the art. We have built our lock around the best user experience, security, and materials available. The lock features a smart, RFID, touch panel that allows you to seamlessly unlock the bike with a tap of your ID. Inside is a low power wireless XBEE module that communicates with our website to help locate each bike.

  .ab_cta
    .container
      .static-card.col-xs-12
        h2 Sign Up Now
        p.card-content Register for your chance to be part of the first RedBar bike riders
        .row
          input.email(placeholder='UMD Email' type='text').col-sm-6.col-sm-push-3.col-xs-12.col-xs-push-0
        .row
          input.password(placeholder='Password' type='text').col-sm-6.col-sm-push-3.col-xs-12.col-xs-push-0
        .row
          label
            input(type='checkbox' name='checkbox' value='value')
            | I agree to the
            a(href='"{{ pathFor \'terms\' }}"') terms
        .row
          button.nb-start Submit

  .container
    .row.ab_pricing
      .col-sm-4.col-xs-12
        .static-card.smaller
          i.fa.fa-hourglass-2.fa-2x
          h2 Casual rider
          p Only want to ride a few times a week? This is the basic tier that you are enrolled in automatically. You don&apos;t pay any subscription fee and only need to pay per ride at our low cost of ___ $/ __ unit.
          button.nb-start.inverse $__/ride
      .col-sm-4.col-xs-12
        .static-card.focal
          i.fa.fa-hand-paper-o.fa-2x
          h2 The Daily Rider
          p Can you handle this convenience? This plan gives you five free rides per day to go anywhere that you&apos;d like for the low cost of $15 / month. If you want to ride more, simply pay a reduced price for each additional ride on your busiest days of ___ $/ __ unit. The only question is what will you do with all the time you save?
          button.nb-start.inverse $15/month
      .col-sm-4.col-xs-12
        .static-card.smaller
          i.fa.fa-map.fa-2x
          i.fa.fa-bolt.fa-2x
          h2 The Bike-aholic
          p Ready to replace your car and have an extra hour of free time a day? This plan gives you as many free rides as you can take. Ride wherever and whenever you would like for the low cost of &nbsp;$25&nbsp;/ month.
          button.nb-start.inverse $25/month
    //- .row
      footer.footer-content.clearfix
        .center-group.clearfix
          .site-links.site-links-1
            p
              strong Read our FAQ
            p
              a Common Questions
            p
              a The Technology
            p
              a Our Bikes
          .site-links.site-links-2
            p
              strong.rt-element(style='font-style: normal; font-family: inherit; font-weight: 700; text-decoration: inherit; text-transform: uppercase; color: inherit; background-image: none; background-color: transparent; box-shadow: none; opacity: 1; border: none; word-wrap: normal; white-space: normal; word-break: normal; text-shadow: none;') our company
            p
              a.rt-element(style='font-style: inherit; font-family: inherit; font-weight: inherit; text-decoration: underline; text-transform: inherit; color: inherit; background-image: none; background-color: transparent; box-shadow: none; opacity: 1; border: none; word-wrap: normal; white-space: normal; word-break: normal;') Contact Us
            p
              a.rt-element(style='font-style: inherit; font-family: inherit; font-weight: inherit; text-decoration: underline; text-transform: inherit; color: inherit; background-image: none; background-color: transparent; box-shadow: none; opacity: 1; border: none; word-wrap: normal; white-space: normal; word-break: normal;') Careers
            p
              a.rt-element(style='font-style: inherit; font-family: inherit; font-weight: inherit; text-decoration: underline; text-transform: inherit; color: inherit; background-image: none; background-color: transparent; box-shadow: none; opacity: 1; border: none; word-wrap: normal; white-space: normal; word-break: normal;') Social LInks
          a.next-page(href='#') Continue reading the FAQ&nbsp;&rarr;
