template(name='ManageMechanicNotes')
	//- a#NavSide-toggle.btn.btn-default(href='#NavSide-toggle')
	//- 	i.fa.fa-bars
	//- .container.toggled
	.page-header
		h1 ManageMechanicNotes
		button.btn.btn-default.btn-lg
			a(href="{{pathFor 'ManageMechanicNotes_Insert'}}") Insert New Note
	+tabular table=TabularTables.ManageMechanicNotes class="table table-striped table-hover table-bordered table-condensed"

	//- +quickForm collection="MechanicNotes" doc=SelectedRow id="updateMechanicNotesForm" type="update"

template(name='LinkToSpecific')
	button.btn.btn-xs.FLOWGO(type='button') Link

template(name='ManageMechanicNotes_Form')
	//- a#NavSide-toggle.btn.btn-default(href='#NavSide-toggle')
	//- 	i.fa.fa-bars
	//- .container.toggled
	.page-header
		h2
			a(href="{{pathFor 'AdminCompilation'}}") Back
		h1 ManageMechanicNotes
		p Editable Form
	+quickForm collection="MechanicNotes" doc=SelectedRow id="updateMechanicNotesForm" type="update"

template(name='ManageMechanicNotes_Insert')
	.page-header
		h2
			a(href="{{pathFor 'AdminCompilation'}}") Back
		h1 ManageMechanicNotes
		p Insert New Note
	+quickForm collection="MechanicNotes" id="insertMechanicNotesForm" type="insert"