template(name="AdminCompilation")
	//- +contentWrapper
	//- only used for no-scroll function
	h1 Hi Manager!
	p Here is the latest on the RedBar's Bikeshare
	.container_body
		.row
			.col-md-4.col-xs-3
				//- p <div class="col-md-4">.col-md-4</div>
				+pie_big_circle_Demo
			.col-md-4.col-xs-3
				//- p <div class="col-md-4">.col-md-4</div>
				+pieDemo
			.col-md-4.col-xs-3
				//- p <div class="col-md-4">.col-md-4</div>
				+pieDemoUsers
		.row
			.col-md-12.col-xs-3
				+columnDemo
		.row
			+ManageBikes
		+ManageMechanicNotes
		+ManageUsers