template(name="Slide_In_Panel_Placeholder_Title")
  h1.cd Select Row

template(name="Slide_In_Panel_Placeholder")
  p.cd Select a row in one of the tables to load an editable form or map in this window.